<style>
    
    body {font-family: Arial, Helvetica, sans-serif;}

    #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    }

    #myImgModal {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    padding: 5px;
    /* width: 100%;
    height: 100%; */
    width: 472px;
    height: 708px;
    margin: 0;
    }

    #dls{
        margin-top: 0;
        margin-bottom: -15px;
    }

    #dds{
        margin-left: 220px;
        padding-bottom: 5px;
    }

    #myImg:hover {opacity: 0.7;}
</style>

<div  ng-init="loadDef()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> Beranda</a></li>
            <li><a>FATAYAT NU Jatim Card</a></li>
        </ol>
        <div class="row" style="padding: 30px;">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12 text-center" style="margin-bottom: 30px;">
                                <label style="font-size: 30px;font-weight: bold;">FATAYAT NU Jatim Card</label>

                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 35px;">
                            <div class="col-md-3" style=" display: flex;justify-content: center;">
                                <img src="assets/rekanan/image/logos.png" style="width: 400px;height: 340px;">
                                <!-- <h3 class="judul-datatabel afta-font">Fatayat NU Card</h3> -->
                            </div>
                            <div class="col-md-9">
                                <!-- <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-md-3">
                                         <label>Anggota Cabang</label>
                                    </div>
                                    <div class="col-md-9">
                                        <selectize placeholder='Masukkan nama cabang...' options='Cabangs' config="myConfig" ng-model="data.CabangId" ng-disabled='disable' required ng-change="getNext()"></selectize>
                                     </div>
                                 </div>
                                 <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-md-3">
                                         <label>Anggota Region</label>
                                    </div>
                                    <div class="col-md-9">
                                        <selectize placeholder='Masukkan nama region...' options='Regions' config="myConfig2" ng-model="data.RegionId" ng-disabled='disable' required></selectize>
                                     </div>
                                 </div> -->
                                 <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-md-3">
                                         <label>Anggota PC</label>
                                    </div>
                                    <div class="col-md-9">
                                        <selectize placeholder='' options='Cabangs2' config="myConfig3" ng-model="data.PC" ng-disabled='disable' required ng-change="getNext()"></selectize>
                                        <!-- <input type="text" class="form-control" name="" id="" ng-model="data.PC"> -->
                                     </div>
                                 </div>
                                 <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-md-3">
                                         <label>Anggota PAC</label>
                                    </div>
                                    <div class="col-md-9">
                                        <selectize placeholder='' options='PAC' config="myConfig4" ng-model="data.PAC" ng-disabled='disable' required ng-change="getNext2()"></selectize>
                                        <!-- <input type="text" class="form-control" name="" id="" ng-model="data.PAC"> -->
                                     </div>
                                 </div>
                                 <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-md-3">
                                         <label>Anggota Ranting</label>
                                    </div>
                                    <div class="col-md-9">
                                        <selectize placeholder='' options='Rantings' config="myConfig5" ng-model="data.RantingId" ng-disabled='disable' required></selectize>
                                        <!-- <input type="text" class="form-control" name="" id="" ng-model="data.RantingId"> -->
                                     </div>
                                 </div>
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-md-3">
                                         <label>Nama</label>
                                    </div>
                                    <div class="col-md-9">
                                        <selectize placeholder='' options='getNuCard' config="myConfig6" ng-model="data.nama" ng-disabled='disable' required></selectize>
                                        <!-- <input type="text" class="form-control" name="" id="" ng-model="data.nama"> -->
                                     </div>
                                 </div>
                                 <div class="row" style="margin-bottom: 10px;">
                                     <div class="col-md-3">
                                          <label>Tempat Lahir</label>
                                     </div>
                                     <div class="col-md-9">
                                         <input type="text" class="form-control" name="" id="" ng-model="data.tempatLahir">
                                      </div>
                                  </div>
                                 <div class="row" style="margin-bottom: 10px;">
                                     <div class="col-md-3">
                                          <label>Tanggal Lahir</label>
                                     </div>
                                     <div class="col-md-9">
                                         <input type="date" class="form-control" name="" id="" ng-value="data.tanggalLahir" ng-model="data.tanggalLahir">
                                      </div>
                                  </div>
                                  <div class="row" style="margin-bottom: 10px;">
                                     <div class="col-md-3">
                                          <label>NIK</label>
                                     </div>
                                     <div class="col-md-9">
                                         <input type="text" class="form-control" name="" id="" ng-model="data.nik">
                                      </div>
                                  </div>
                                  <div class="row" style="margin-bottom: 10px;">
                                     <div class="col-md-3">
                                          <label>Alamat</label>
                                     </div>
                                     <div class="col-md-9">
                                         <input type="text" class="form-control" name="" id="" ng-model="data.alamat">
                                      </div>
                                  </div>
                                  <div class="row" style="margin-bottom: 10px;">
                                     <div class="col-md-3">
                                          <label>No BPJS</label>
                                     </div>
                                     <div class="col-md-9">
                                         <input type="text" class="form-control" name="" id="" ng-model="data.noBpjs">
                                      </div>
                                  </div>
                                  <div class="row" style="margin-bottom: 10px;">
                                     <div class="col-md-3">
                                          <label>Pernah mengisi data muslimat</label>
                                     </div>
                                     <div class="col-md-9">
                                         <input type="radio" name="" id="" value="1" {{(data.isMuslimat == 1) ? "checked" : ""}} ng-model="data.isMuslimat"> Ya &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                         <input type="radio" name="" id="" value="0" {{(data.isMuslimat == 0) ? "checked" : ""}} ng-model="data.isMuslimat"> Tidak
         
                                     </div>
                                  </div>
                                  <div class="row" style="margin-bottom: 10px;">
                                     <div class="col-md-3">
                                          <label>{{Pekerjaan[0].nu_card_variabel}}</label>
                                     </div>
                                     <div class="col-md-9">
                                         <div class="col-md-6">
                                             <div class="row">
                                                 <input type="checkbox"  name="" id="" ng-model="Pekerjaan[0].nu_card_detil_keterangan"> {{Pekerjaan[0].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pekerjaan[1].nu_card_detil_keterangan"> {{Pekerjaan[1].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox"  name="" id="" ng-model="Pekerjaan[2].nu_card_detil_keterangan"> {{Pekerjaan[2].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pekerjaan[3].nu_card_detil_keterangan"> {{Pekerjaan[3].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pekerjaan[4].nu_card_detil_keterangan"> {{Pekerjaan[4].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pekerjaan[5].nu_card_detil_keterangan"> {{Pekerjaan[5].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pekerjaan[6].nu_card_detil_keterangan"> {{Pekerjaan[6].nu_card_detil_variabel}}
                                             </div>
                                         </div>
                                         <div class="col-md-6">
                                             <div class="row">
                                                 <input type="checkbox"  name="" id="" ng-model="Pekerjaan[7].nu_card_detil_keterangan"> {{Pekerjaan[7].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pekerjaan[8].nu_card_detil_keterangan"> {{Pekerjaan[8].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox"  name="" id="" ng-model="Pekerjaan[9].nu_card_detil_keterangan"> {{Pekerjaan[9].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pekerjaan[10].nu_card_detil_keterangan"> {{Pekerjaan[10].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pekerjaan[11].nu_card_detil_keterangan"> {{Pekerjaan[11].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pekerjaan[12].nu_card_detil_keterangan"> {{Pekerjaan[12].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pekerjaan[13].nu_card_detil_keterangan"> {{Pekerjaan[13].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pekerjaan[14].nu_card_detil_keterangan"> {{Pekerjaan[14].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pekerjaan[15].nu_card_detil_keterangan"> {{Pekerjaan[15].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">                                        
                                                 <input type="checkbox" name="" id="" ng-model="Pekerjaan[16].nu_card_detil_keterangan"> Lainnya ....
                                                 <input type="text" class="form-control" name="" id="" ng-model="Pekerjaan[16].nu_card_detil_variabel">
                                             </div>
                                         </div>                                
                                     </div>
                                  </div>
                                  <div class="row" style="margin-bottom: 10px;">
                                     <div class="col-md-3">
                                          <label>{{PendidikanFormal[0].nu_card_variabel}}</label>
                                     </div>
                                     <div class="col-md-9">
                                         <div class="col-md-6">
                                             <div class="row">
                                                 <input type="checkbox"  name="" id="" ng-model="PendidikanFormal[0].nu_card_detil_keterangan"> SD
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="PendidikanFormal[1].nu_card_detil_keterangan"> SLTP Sederajat
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox"  name="" id="" ng-model="PendidikanFormal[2].nu_card_detil_keterangan"> SLTA Sederajat
                                             </div>
                                         </div>
                                         <div class="col-md-6">
                                             <div class="row">
                                                 <input type="checkbox"  name="" id="" ng-model="PendidikanFormal[3].nu_card_detil_keterangan"> Strata Satu
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="PendidikanFormal[4].nu_card_detil_keterangan"> Strata Dua
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox"  name="" id="" ng-model="PendidikanFormal[5].nu_card_detil_keterangan"> Strata Tiga
                                             </div>
                                         </div>  
                                     </div>
                                  </div>
                                  <div class="row" style="margin-bottom: 10px;">
                                     <div class="col-md-3">
                                          <label>{{PendidikanPesantren[0].nu_card_variabel}}</label>
                                     </div>
                                     <div class="col-md-9">
                                         <input type="radio" name="" id="" value="1-3" {{(PendidikanPesantren[0].nu_card_detil_keterangan == "1-3") ? "checked" : ""}} ng-model="PendidikanPesantren[0].nu_card_detil_keterangan"> 1 - 3 tahun &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                         <input type="radio" name="" id="" value="4-6" {{(PendidikanPesantren[0].nu_card_detil_keterangan == "4-6") ? "checked" : ""}} ng-model="PendidikanPesantren[0].nu_card_detil_keterangan"> 4 - 6 tahun &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                         <input type="radio" name="" id="" value="7-10" {{(PendidikanPesantren[0].nu_card_detil_keterangan == "7-10") ? "checked" : ""}} ng-model="PendidikanPesantren[0].nu_card_detil_keterangan"> 7 - 10 tahun
                                     </div>
                                  </div>
                                  <div class="row" style="margin-bottom: 10px;">
                                     <div class="col-md-3">
                                          <label>{{JenjangPesantren[0].nu_card_variabel}}</label>
                                     </div>
                                     <div class="col-md-9">
                                         <input type="radio" name="" id="" ng-model="JenjangPesantren[0].nu_card_detil_keterangan" {{(JenjangPesantren[0].nu_card_detil_keterangan == "Madrasah") ? "checked" : ""}} value="Madrasah"> Madrasah Diniyah &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                         <input type="radio" name="" id="" ng-model="JenjangPesantren[0].nu_card_detil_keterangan" {{(JenjangPesantren[0].nu_card_detil_keterangan == "Mu'alimat") ? "checked" : ""}} value="Mu'alimat"> Mu'alimat &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                         <input type="radio" name="" id="" ng-model="JenjangPesantren[0].nu_card_detil_keterangan" {{(JenjangPesantren[0].nu_card_detil_keterangan == "Mu'had Aly") ? "checked" : ""}} value="Mu'had Aly"> Ma'had Aly
                                     </div>
                                  </div>
                                  <div class="row" style="margin-bottom: 10px;">
                                     <div class="col-md-3">
                                          <label>{{PosisiPengurus[0].nu_card_variabel}}</label>
                                     </div>
                                     <div class="col-md-9">
                                         <div class="col-md-6">
                                             <div class="row">
                                                 <input type="radio" name="" id="" ng-model="PosisiPengurus[0].nu_card_detil_keterangan" {{(PosisiPengurus[0].nu_card_detil_keterangan == "Pimpinan Pusat") ? "checked" : ""}} value="Pimpinan Pusat"> Pimpinan Pusat (PP) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                             </div>
                                             <div class="row">
                                                 <input type="radio" name="" id="" ng-model="PosisiPengurus[0].nu_card_detil_keterangan" {{(PosisiPengurus[0].nu_card_detil_keterangan == "Pimpinan Wilayah") ? "checked" : ""}} value="Pimpinan Wilayah"> Pimpinan Wilayah (PW) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                             </div>
                                             <div class="row">
                                                 <input type="radio" name="" id="" ng-model="PosisiPengurus[0].nu_card_detil_keterangan" {{(PosisiPengurus[0].nu_card_detil_keterangan == "Pimpinan Cabang") ? "checked" : ""}} value="Pimpinan Cabang"> Pimpinan Cabang (PC)
                                             </div>
                                             
                                         </div>
                                         <div class="col-md-6">
                                             <div class="row">
                                                 <input type="radio" name="" id="" ng-model="PosisiPengurus[0].nu_card_detil_keterangan" {{(PosisiPengurus[0].nu_card_detil_keterangan == "Pimpinan Anak Cabang") ? "checked" : ""}} value="Pimpinan Anak Cabang"> Pimpinan Anak Cabang (PAC) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                             </div>
                                             <div class="row">
                                                 <input type="radio" name="" id="" ng-model="PosisiPengurus[0].nu_card_detil_keterangan" {{(PosisiPengurus[0].nu_card_detil_keterangan == "Pimpinan Ranting") ? "checked" : ""}} value="Pimpinan Ranting"> Pimpinan Ranting (PR) 
                                             </div>
                                             <div class="row">
                                                 <input type="radio" name="" id="" ng-model="PosisiPengurus[0].nu_card_detil_keterangan" {{(PosisiPengurus[0].nu_card_detil_keterangan == "Pimpinan Anak Ranting") ? "checked" : ""}} value="Pimpinan Anak Ranting"> Pimpinan Anak Ranting (PR) 
                                             </div>
                                             
                                         </div>
                                        
                                     </div>
                                  </div>
                                  <div class="row" style="margin-bottom: 10px;"><div class="col-md-12"><label>{{Pelatihan[0].nu_card_variabel}}</label></div>
                                 </div>
                                  <div class="row" style="margin-bottom: 10px;">
                                     <div class="col-md-3">
                                         {{Pelatihan[0].nu_card_detil_variabel}}
                                     </div>
                                     <div class="col-md-9">
                                         <input type="radio" name="" id="" ng-model="Pelatihan[0].nu_card_detil_keterangan" {{(Pelatihan[0].nu_card_detil_keterangan == "LKD") ? "checked":""}} value="LKD"/> LKD &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                         <input type="radio" name="" id="" ng-model="Pelatihan[0].nu_card_detil_keterangan" {{(Pelatihan[0].nu_card_detil_keterangan == "LKL") ? "checked":""}} value="LKL"/> LKL
                                     </div>
                                  </div>
                                  <div class="row" style="margin-bottom: 10px;">
                                     <div class="col-md-3">
                                         2. Pelatihan NU
                                     </div>
                                     <div class="col-md-9">
                                         <input type="radio" name="" id="" ng-model="Pelatihan[1].nu_card_detil_keterangan" {{(Pelatihan[1].nu_card_detil_keterangan == "PKPNU") ? "checked":""}} value="PKPNU"> PKPNU &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                         <input type="radio" name="" id="" ng-model="Pelatihan[1].nu_card_detil_keterangan" {{(Pelatihan[1].nu_card_detil_keterangan == "MKP") ? "checked":""}} value="MKP"> MKP &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                         <input type="radio" name="" id="" ng-model="Pelatihan[1].nu_card_detil_keterangan" {{(Pelatihan[1].nu_card_detil_keterangan == "MKNU") ? "checked":""}} value="MKNU"> MKNU
                                     </div>
                                  </div>
                                  <div class="row" style="margin-bottom: 10px;">
                                     <div class="col-md-3">
                                         3. Pelatihan Non Formal
                                     </div>
                                     <div class="col-md-9">
                                         <div class="col-md-6">
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pelatihan[2].nu_card_detil_keterangan"> Pelatihan Daiyah 
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pelatihan[3].nu_card_detil_keterangan"> Pelatihan Wirausaha 
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pelatihan[4].nu_card_detil_keterangan"> Pelatihan MC 
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pelatihan[5].nu_card_detil_keterangan"> Pelatihan Advokasi 
                                             </div>
                                         </div>
                                         <div class="col-md-6">
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pelatihan[6].nu_card_detil_keterangan"> Pelatihan Gender 
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pelatihan[7].nu_card_detil_keterangan"> Pelatihan IT  
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pelatihan[8].nu_card_detil_variabel" ng-true-value="'Non Formal Lainnya'"> Pelatihan Lainnya 
                                                 <input type="text" name="" class="form-control" id="" ng-model="Pelatihan[8].nu_card_detil_keterangan">
                                             </div>
                                         </div>
                                     </div>
                                  </div>
                                  <div class="row" style="margin-bottom: 10px;">
                                     <div class="col-md-3">
                                          4. TOT yang pernah di ikuti
                                     </div>
                                     <div class="col-md-9">
                                         <div class="col-md-6">
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pelatihan[9].nu_card_detil_keterangan"> LKD / LKL
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pelatihan[10].nu_card_detil_keterangan"> PKPNU
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pelatihan[11].nu_card_detil_keterangan"> MKNU
                                             </div>
                                         </div>
                                         <div class="col-md-6">
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pelatihan[12].nu_card_detil_keterangan"> MKP
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Pelatihan[13].nu_card_detil_variabel" ng-true-value="'Tot Lainnya'"> Lainnya ....
                                                 <input type="text" class="form-control" name="" id="" ng-model="Pelatihan[13].nu_card_detil_keterangan">
                                             </div>
                                         </div>
                                     </div>
                                  </div>
                                  <div class="row" style="margin-bottom: 10px;">
                                     <div class="col-md-3">
                                         <label>{{Fasilitator[0].nu_card_variabel}}</label> 
                                     </div>
                                     <div class="col-md-9">
                                         <div class="col-md-6">
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Fasilitator[0].nu_card_detil_keterangan"> {{Fasilitator[0].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Fasilitator[1].nu_card_detil_keterangan"> {{Fasilitator[1].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Fasilitator[2].nu_card_detil_keterangan"> {{Fasilitator[2].nu_card_detil_variabel}}
                                             </div>
                                         </div>
                                         <div class="col-md-6">
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Fasilitator[3].nu_card_detil_keterangan"> {{Fasilitator[3].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" > Lainnya...
                                                 <input type="text" class="form-control" name="" id="" ng-model="Fasilitator[4].nu_card_detil_keterangan">
                                             </div>
                                         </div>
                                     </div>
                                  </div>
                                  <div class="row" style="margin-bottom: 10px;">
                                     <div class="col-md-3">
                                         <label>{{Materi[0].nu_card_variabel}}</label> 
                                     </div>
                                     <div class="col-md-9">
                                         <div class="col-md-6">
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Materi[0].nu_card_detil_keterangan"> {{Materi[0].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Materi[1].nu_card_detil_keterangan"> {{Materi[1].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Materi[2].nu_card_detil_keterangan"> {{Materi[2].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Materi[3].nu_card_detil_keterangan"> {{Materi[3].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Materi[4].nu_card_detil_keterangan"> {{Materi[4].nu_card_detil_variabel}}
                                             </div>
                                         </div>
                                         <div class="col-md-6">
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Materi[5].nu_card_detil_keterangan"> {{Materi[5].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Materi[6].nu_card_detil_keterangan"> {{Materi[6].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Materi[7].nu_card_detil_keterangan"> {{Materi[7].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Materi[8].nu_card_detil_keterangan"> {{Materi[8].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id=""> {{Materi[9].nu_card_detil_variabel}}
                                                 <input type="text" class="form-control" name="" id="" ng-model="Materi[9].nu_card_detil_keterangan">
                                             </div>
                                         </div>
                                     </div>
                                  </div>
                                  <div class="row" style="margin-bottom: 10px;">
                                     <div class="col-md-3">
                                          <label>{{Pendampingan[0].nu_card_variabel}}</label>
                                     </div>
                                     <div class="col-md-9">
                                         <input type="radio" name="" id="" ng-model="Pendampingan[0].nu_card_detil_keterangan" {{(Pendampingan[0].nu_card_detil_keterangan == "Pendidikan") ? "checked":""}} value="Pendidikan"> Pendidikan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                         <input type="radio" name="" id="" ng-model="Pendampingan[0].nu_card_detil_keterangan" {{(Pendampingan[0].nu_card_detil_keterangan == "Kesehatan") ? "checked":""}} value="Kesehatan"> Kesehatan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                         <input type="radio" name="" id="" ng-model="Pendampingan[0].nu_card_detil_keterangan" {{(Pendampingan[0].nu_card_detil_keterangan == "Perempuan dan anak") ? "checked":""}} value="Perempuan dan anak"> Perempuan dan anak
                                     </div>
                                  </div>
                                  <div class="row" style="margin-bottom: 10px;">
                                     <div class="col-md-3">
                                          <label>{{KerjaSama[0].nu_card_variabel}}</label>
                                     </div>
                                     <div class="col-md-9">
                                         <div class="col-md-6">
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="KerjaSama[0].nu_card_detil_keterangan"> {{KerjaSama[0].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="KerjaSama[1].nu_card_detil_keterangan"> {{KerjaSama[1].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="KerjaSama[2].nu_card_detil_keterangan"> {{KerjaSama[2].nu_card_detil_variabel}}
                                             </div>
                                         </div>
                                         <div class="col-md-6">
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="KerjaSama[3].nu_card_detil_keterangan"> {{KerjaSama[3].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" > Tidak Pernah
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id=""> {{KerjaSama[4].nu_card_detil_variabel}}
                                                 <input type="text" name="" class="form-control" id="" ng-model="KerjaSama[4].nu_card_detil_keterangan">
                                             </div>
                                         </div>
                                     </div>
                                  </div>
                                  <div class="row" style="margin-bottom: 10px;">
                                     <div class="col-md-3">
                                          <label>{{Usaha[0].nu_card_variabel}}</label>
                                     </div>
                                     <div class="col-md-9">
                                         <div class="col-md-6">
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Usaha[0].nu_card_detil_keterangan"> {{Usaha[0].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Usaha[1].nu_card_detil_keterangan"> {{Usaha[1].nu_card_detil_variabel}}
                                             </div>
                                         </div>
                                         <div class="col-md-6">
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" ng-model="Usaha[2].nu_card_detil_keterangan"> {{Usaha[2].nu_card_detil_variabel}}
                                             </div>
                                             <div class="row">
                                                 <input type="checkbox" name="" id="" > Lainnya....
                                                 <input type="text" name="" class="form-control" id="" ng-model="Usaha[3].nu_card_detil_keterangan">
                                             </div>
                                         </div>
                                     </div>
                                  </div>
                                  <!-- upload -->
                                  <div class="row">
                                      <div class="col-md-3">
                                         <label for="">Upload Gambar</label>
                                      </div>
                                      <div class="col-md-9">
                                         <div class="input-group">
                                             <input id="uploadFile" style="padding-top: 5px!important;" type="file" onchange="angular.element(this).scope().fileMChanged(this)" class="form-control input-sm upload-file" data-max-size="{{$root.filemaksimal}}" />
                                             <span class="input-group-btn">
                                                 <button type="button" ng-click="uploads()" class="btn btn-sm btn-flat btn-success"><i class="fa fa-upload"></i> &nbsp; Upload</button>
                                             </span>
                                         </div>
                                      </div>
                                  </div>
                                  <div class="row" ng-hide="filesToUpload.length > 0">
                                      <div class="col-md-3"></div>
                                      <div class="col-md-9">
                                        <img ng-if="gambar != ''" src="/fatayatnew/{{gambar}}" alt="" style="width: 115px; height: 115px;">
                                      </div>
                                  </div>
                                  <div class="row" style="padding-bottom: 20px;" ng-show="filesToUpload.length > 0">
                                     <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: right!important;">
                                         <div class="table-responsive">
                                             <table class="table table-bordered table-striped">
                                                 <thead>
                                                     <tr>
                                                         <th class="text-center">Nama File</th>
                                                         <th class="text-center" style="width: 180px; min-width: 180px;">Ukuran File</th>
                                                         <th class="text-center" style="width: 120px; min-width: 100px;"></th>
                                                     </tr>
                                                 </thead>
                                                 <tbody>
                                                     <tr ng-repeat="fl in filesToUpload">
                                                         <td style="word-wrap: break-word!important;">{{fl.fileName}}</td>
                                                         <td class="text-center" style="word-wrap: break-word!important;">{{fl.fileSize}} KB</td>
                                                         <td class="text-center" style="word-wrap: break-word!important;">
                                                             <button class="btn btn-xs red center-block" ng-click="removeFile(fl.fileName)" >
                                                                 Hapus <i class="fa fa-minus-circle"></i>
                                                             </button>
                                                         </td>
                                                     </tr>
                                                 </tbody>
                                             </table>
                                         </div>
                                     </div>
                                 </div>
                                  <div class="row" style="text-align: center;margin-top: 30px;float: right;">
                                    <div class="col-md-12">
                                        <button type="button" ng-click="simpan()" class="btn btn-flat btn-warning">
                                            <i class="fa fa-save"></i> Simpan</button>
                                        <button type="button" ng-click="sent()" class="btn btn-flat btn-success">
                                            <i class="fa fa-save"></i> Simpan dan Kirim</button>
                                    </div>
                                     
                                  </div>
                            </div>
                           
                        </div> 
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>