<div  ng-init="loadPegawai()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> Beranda</a></li>
            <li><a>Data Master</a></li>
            <li><a class="active">Master Data Admin</a></li>
        </ol>
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-7">
                                <h3 class="judul-datatabel afta-font"><strong>Master Data Admin</strong></h3>
                            </div>
                        </div>                    
                        <div class="row turun-15">
                            <div class="col-md-10">
                                <form method="post" role="form" ng-submit="cariPegawai()">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Masukkan Nama Admin" ng-model="kata.srcText" ng-model-options="{ debounce: 500 }" ng-change="cariPegawai()">
                                        <span class="input-group-btn">
                                            <button ng-click="cariPegawai()" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary">
                                                <i class="fa fa-search"></i>&nbsp; Cari</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-flat btn-primary" style="float:right!important" 
                                        ng-click="addPegawai('lg')" data-toggle="modal" data-target="#myModal"> <!--  ng-if="userBisaMenambah" -->
                                    <i class="fa fa-plus"></i> Tambah Data
                                </button>
                            </div>
                        </div>
                        <div class="row turun-15">
                            <div class="col-md-12">
                                <div class="table table-responsive" >
                                    <table class="table table-bordered table-striped table-condensed text-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="center-vertical" style="width: 15px;">No</th>
                                                <th class="center-vertical">N I K</th>
                                                <th class="center-vertical">Nama Pegawai</th>
                                                <th class="center-vertical">No. Telpon</th> 
                                                <th class="center-vertical">Role</th> 
                                                <th class="center-vertical" style="width: 150px">Aksi</th>
                                            </tr>
                                        </thead> 
                                        <tbody>	
                                            <tr ng-repeat="peg in Pegawais">
                                                <td class="center-vertical">{{currentPage > 1 ? (maxSize * (currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                <td class="center-vertical">{{peg.nik}}</td>
                                                <td style="vertical-align: middle;">{{peg.nama}}</td>
                                                <td style="vertical-align: middle;">{{peg.telepon}}</td>
                                                <td class="center-vertical">{{peg.authority}}</td>
                                                <td class="center-vertical">
                                                    <a class="btn btn-flat btn-xs btn-primary" ng-click="viewPegawai(peg)" tooltip-placement="bottom" tooltip="Lihat Detail"><i class='fa fa-eye'></i></a>
                                                    <a class="btn btn-flat btn-xs btn-warning" ng-click="editPegawai(peg)" tooltip-placement="bottom" tooltip="Ubah Data"><i class='fa fa-edit'></i></a>
                                                    <a class="btn btn-flat btn-xs btn-danger" ng-click="remove(peg)" tooltip-placement="bottom" tooltip="Hapus Data"><i class='fa fa-trash-o'></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-7"> 
                                <pagination total-items="totalItems" page="currentPage" items-per-page="10" max-size="maxSize" on-select-page="jLoad2(page)"ng-show="totalItems>10"></pagination>
                            </div>
                            <div class="col-md-12"><label>Total Data : {{totalItems}}</label></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-flat btn-sm btn-warning" href="javascript:void(0)"><i class='fa fa-eye'></i></a>&nbsp<label> : Lihat</label>&nbsp&nbsp
                                <a class="btn btn-flat btn-sm btn-primary" href="javascript:void(0)"><i class='fa fa-edit'></i></a>&nbsp<label> : Ubah</label>&nbsp&nbsp
                                <a class="btn btn-flat btn-sm btn-danger" href="javascript:void(0)"><i class='fa fa-trash-o'></i></a>&nbsp<label> : Hapus</label>&nbsp&nbsp
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/ng-template" id="viewModalPegawai.html" style="width: 500px!important;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Keluar</span>
            </button>
            <h3 class="modal-title afta-font" id="myModalLabel">Lihat Data Pegawai</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-10 center-block" style="float: none!important;">
                    <div class="row well">
                        <div class="col-md-12">
                            <dl class="dl-horizontal">
                                <dt>N I K {{editPegawai.atasan_id}}</dt>
                                <dd>{{editPegawai.Nik}}</dd>
                                <dt>Nama Lengkap</dt>
                                <dd>{{editPegawai.Nama}}</dd>
                                <dt>Email</dt>
                                <dd>{{editPegawai.Email}}</dd>
                                <dt>Telepon</dt>
                                <dd>{{editPegawai.Telepon}}</dd>
                                <dt>Hak Akses</dt>
                                <dd>{{authority}}</dd>
                                <dt>Username</dt>
                                <dd>{{editPegawai.Username}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-sm btn-flat btn-primary" type="button" ng-click="cancel()">
                <i class="fa fa-arrow-left"></i>&nbsp;Kembali</button>
        </div>
    </div>
</script>

<!-- tambah data -->
<script type="text/ng-template" id="addModalPegawai.html" style="width: 500px!important;">
    <div class="modal-content" ng-init="init()">
        <form role="form" ng-submit="savePegawai()" name="formAdd">
            <div class="modal-header">                
                <h3 class="box-title afta-font">Tambah Data Admin
                    <button type="button" class="close" ng-click="cancel()">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Keluar</span>
                    </button>
                </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>NIK <span style="color:red;">*</span></label>
                            <input type="text" id="nik" class="form-control input-sm" ng-model="newPegawai.Nik" onkeypress="return isNumberKey(event)" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nama <span style="color:red;">*</span></label>
                            <input type="text" class="form-control input-sm" ng-model="newPegawai.Nama" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email <span style="color:red;">*</span></label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <input type="email" class="form-control input-sm" ng-model="newPegawai.Email">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>No. Telepon <span style="color:red;">*</span></label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input type="number" class="form-control input-sm" ng-model="newPegawai.Telepon" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Username</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <input type="text" class="form-control input-sm" ng-model="newPegawai.Username" no-space required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Password <span style="color:red;">*</span></label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <input type="password" id="password" class="form-control input-sm" ng-model="newPegawai.Password" data-ng-class="{'ng-invalid':formAdd.confirmpassword.$error.match}"
                                    no-space required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Confirm Password <span style="color:red;">*</span></label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <input type="password" id="confirmpassword" class="form-control input-sm" ng-model="newPegawai.ConfirmPassword" data-match="newPegawai.Password"
                                    no-space required>
                                <div data-ng-show="formAdd.confirmPassword.$error.match">Passwords do not match!</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4" style="visibility: hidden;">
                        <div class="form-group">
                            <label>Username</label>
                            <div class="input-group" visibility="hidden">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <input ng-disabled="true" type="text" class="form-control " ng-model="editPegawai.Username" required disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Role Pegawai</label>
                            <select class="form-control" ng-model="selectedOption" ng-options="val.authority for val in roleUser" ng-change="change(selectedOption)"
                                required>
                                <option value="">--Pilih Role--</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-4" style="visibility: hidden;">
                        <div class="form-group">
                            <label>Username</label>
                            <div class="input-group" visibility="hidden">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <input ng-disabled="true" type="text" class="form-control " ng-model="editPegawai.Username" required disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-flat btn-success">
                    <i class="fa fa-save"></i> Simpan</button>
                <button type="button" class="btn btn-flat btn-danger" ng-click="cancel()">
                    <i class="fa fa-reply"></i> Tutup</button>
            </div>
        </form>
    </div>
</script>
<!-- edit data -->
<script type="text/ng-template" id="editModalPegawai.html" style="width: 500px!important;">
    <div id="divEditPegawai" class="modal-content" ng-init="init()">
        <form role="form" ng-submit="updatePegawai()">
            <div class="modal-header">
                <h3 class="modal-title afta-font" id="myModalLabel">Ubah Data Pegawai</h3>
                <button type="button" class="close" ng-click="cancel()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Keluar</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>NIK <span style="color:red;">*</span></label>
                            <input type="text" id="nik" class="form-control " ng-model="editPegawai.Nik" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nama <span style="color:red;">*</span></label>
                            <input type="text" class="form-control " ng-model="editPegawai.Nama" required />
                        </div>
                    </div>

                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email <span style="color:red;">*</span></label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <input type="email" class="form-control " ng-model="editPegawai.Email" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>No. Telepon <span style="color:red;">*</span></label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input type="text" class="form-control" ng-model="editPegawai.Telepon" required />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Username</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <input ng-disabled="true" type="text" class="form-control " ng-model="editPegawai.Username" required disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>New Password <span style="color:red;">*</span></label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <input type="hidden" id="password" class="form-control" ng-model="editPegawai.Password" />
                                <input type="password" id="password" class="form-control" ng-model="editPass.newPass" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Confirm New Password <span style="color:red;">*</span></label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <input type="password" id="confirmpassword" class="form-control " ng-model="editPass.confirmPass" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4" style="visibility: hidden;">
                        <div class="form-group">
                            <label>Username</label>
                            <div class="input-group" visibility="hidden">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <input ng-disabled="true" type="text" class="form-control " ng-model="editPegawai.Username" required disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Role Pegawai</label>
                            <select class="form-control" ng-model="selectedOption" ng-options="val.authority for val in roleUser" ng-change="change(selectedOption)"
                                required>
                                <option value="">--Pilih Role--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4" style="visibility: hidden;">
                        <div class="form-group">
                            <label>Username</label>
                            <div class="input-group" visibility="hidden">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <input ng-disabled="true" type="text" class="form-control " ng-model="editPegawai.Username" required disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-flat btn-success">
                    <i class="fa fa-save"></i> Simpan</button>
                <button type="button" class="btn btn-flat btn-danger" ng-click="cancel()">
                    <i class="fa fa-reply"></i> Tutup</button>
            </div>
        </form>
    </div>
</script>
<!-- hapus data -->
<script type="text/ng-template" id="delModalPegawai.html">
    <div class="model-content">
        <div class="modal-header">
            <h3 class="box-title afta-font">Hapus Data Pegawai</h3>
        </div>
        <div class="modal-body">
            <h4 style="text-align: left;" class="afta-font">Yakin ingin menghapus pegawai dengan nama {{selectedPeg.nama_pegawai}}??</h4>
        </div>
        <div class="modal-footer">
            <button class="btn btn-flat btn-danger" ng-click="cancel()">
                <i class="fa fa-reply"></i>&nbsp;Tidak</button>
            <button class="btn btn-flat btn-success" ng-click="delete()">
                <i class="fa fa-check-circle"></i>&nbsp;Ya</button>
            <div>
            </div>
</script>

<!-- reset password  -->
<script type="text/ng-template" id="resetModalPegawai.html" style="width: 500px!important;">
    <div class="modal-content">
        <form role="form" ng-submit="resetPass()">
            <div class="modal-header">
                <h3 class="modal-title afta-font" id="myModalLabel">Reset Password</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>NIK</label>
                            <input type="text" id="nik" class="form-control input-sm" ng-model="editPegawai.Nik" readonly>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Nama</label>
                            <input type="text" id="nama" class="form-control input-sm" ng-model="editPegawai.Nama" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Username</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <input type="text" class="form-control input-sm" ng-model="editPegawai.Username" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>New Password</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <input type="hidden" id="password" class="form-control input-sm" ng-model="editPegawai.Password">
                                <input type="password" id="password" class="form-control input-sm" ng-model="newPassword.newPass">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Confirm New Password</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </div>
                                <input type="password" id="confirmpassword" class="form-control input-sm" ng-model="newPassword.confirmPass" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-flat btn-success">
                    <i class="fa fa-save"></i> Reset Password</button>
                <button type="button" class="btn btn-sm btn-flat btn-danger" ng-click="cancel()">
                    <i class="fa fa-reply"></i> Tutup</button>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="PilihAtasan.html">
    <div class="modal-content" ng-init="initialize()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="keluar()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Keluar</span>
            </button>
            <h3 class="modal-title afta-font" id="myModalLabel">Pilih Atasan</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">

                        </div>
                        <div class="col-md-4">
                            <form ng-submit="cariPegawai()" role="form" method="post">
                                <div class="input-group pull-right" style="padding-bottom: 15px; width: 100%;">
                                    <input type="text" class="form-control" placeholder="Pencarian..." ng-model="kata.srcText">
                                    <span class="input-group-btn" ng-hide="true">
                                        <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-primary">
                                            <i class="fa fa-search"></i>&nbsp; Cari</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">No.</th>
                                            <th class="text-center">Nama</th>
                                            <th class="text-center" style="width: 150px; min-width: 150px;">NIK</th>
                                            <th class="text-center" style="width: 180px; min-width: 180px;">Jabatan</th>
                                            <th class="text-center" style="width: 120px; min-width: 120px;">Telepon</th>
                                            <th class="text-center" style="width: 180px; min-width: 180px;">Authority</th>
                                            <th class="text-center" style="width: 90px; min-width: 90px; vertical-align: middle;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="pgw in pegawai">
                                            <td style="vertical-align: middle;">{{currentPage > 1 ? (maxSize * (currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td style="vertical-align: middle;">{{pgw.nama_pegawai}}</td>
                                            <td style="vertical-align: middle;">{{pgw.nik}}</td>
                                            <td style="vertical-align: middle;">{{pgw.jabatan}}</td>
                                            <td style="vertical-align: middle;">{{pgw.telepon}}</td>
                                            <td style="vertical-align: middle;">{{pgw.authority}}</td>
                                            <td style="vertical-align: middle;">
                                                <a class="btn btn-flat btn-sm btn-success" ng-click="pilihAtasan(pgw)">
                                                    <i class="fa fa-check-circle"></i>&nbsp; Pilih</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <pagination total-items="totalItems" page="currentPage" items-per-page="10" max-size="maxSize" on-select-page="jLoad(page)"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-danger" ng-click="keluar()">
                <i class="fa fa-reply"></i>&nbsp;Tutup</button>
            <!--<button type="button" class="btn btn-flat btn-success" data-dismiss="modal"><i class="fa fa-reply"></i>&nbsp;Simpan</button>-->
        </div>
    </div>
</script>
<script type="text/javascript">
    function isNumberKey(evt){
      var charCode = (evt.which)?evt.which:evt.keyCode;        
      if((charCode >= 48 && charCode <=57) && charCode!=22)
          return true;

          return false;
  }

</script>