<section class="content" ng-init="init()" >
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> Beranda</a></li>
            <li><a class="active">SKPD Online</a></li>
        </ol>
        <div class="row"> <!--  style="padding-top: 25px;" -->
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box">
                    <div class="box-body">
                        <div class="row" style="margin-bottom: 25px">
                            <div class="col-md-7">
                                <h3 class="afta-font judul-datatabel" style="font-style: italic;margin: 0px" ><strong>SKPD Online</strong></h3>
                                <span style="font-size: 19px">Data Pajak</span>
                            </div>                    
                        </div>
        
                        <div class="row">
                            <div class="col-md-12">
                                <form method="post" role="form" ng-submit="cariData()" >
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Cari Data" ng-model="kata" ng-model-options="{ debounce: 500 }" ng-change="cariData()" >
                                    <span class="input-group-btn">
                                        <button  type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="cariData()">
                                            <i class="fa fa-search"></i>&nbsp; Cari</button>
                                    </span>
                                </div>
                                </form>
                            </div>
                            
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive dragscroll long-table">
                                    <table class="table table-bordered table-striped table-condensed text-nowrap">
                                        <thead style="background: #298ae7;color: white;">
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle; width: 20px;">No</th>
                                                <th class="text-center" style="vertical-align: middle; width: 100px;">SPTPD</th>
                                                <th class="text-center" style="vertical-align: middle;">SKPD</th>
                                                <th class="text-center" style="vertical-align: middle;">Status SKPD</th>
                                                <th class="text-center" style="width: 220px; vertical-align: middle;">Action</th>
                                            </tr>
                                        </thead> 
                                        <tbody>	
                                            <tr ng-repeat="ba in skpd" ng-if="skpdCount!=0">
                                                <td style="vertical-align: middle;" class="text-center">{{currentPage > 1 ? (maxSize * (currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                <td style="vertical-align: middle;" class="text-center"><span>{{ba.no_sptpd}}</span></td> 
                                                <td style="vertical-align: middle;" class="text-center">{{ba.nomor_skpd}}</td>
                                                <td style="vertical-align: middle;" class="text-center">{{ba.status_skpd}}</td>
                                                <td style="vertical-align: middle;" class="text-center">
                                                    <a class="btn btn-flat btn-sm btn-primary" ng-click="lihatDataSkpd(ba)" title="Terbitkan SKPD">
                                                        <i class="fa fa-eye"></i> Lihat SKPD</a>
                                                </td>
                                            </tr>
                                            <tr ng-if="skpdCount==0">
                                                <td class="text-center" colspan="6">
                                                    Tidak Ada Data
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>                            
                                </div>
                            </div>
                                <div class="col-md-12"><label><br>Total Data: 0</label></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" > 
                                <a class="btn btn-flat btn-sm btn-primary"><i class='glyphicon glyphicon-forward'></i></a>&nbsp<label> : Pengajuan SPTPD</label>&nbsp&nbsp
                                <a class="btn btn-flat btn-sm btn-success"><i class='fa fa-reply'></i></a>&nbsp<label> : Ubah SPTPD</label>&nbsp&nbsp
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
                