<section class="content" ng-init="init()" >
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> Beranda</a></li>
            <li><a class="active">SKPD Online</a></li>
        </ol>
        <div class="row"> <!--  style="padding-top: 25px;" -->
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box">
                    <div class="box-body">
                        <div class="row" style="margin-bottom: 25px">
                            <div class="col-md-7">
                                <h3 class="afta-font judul-datatabel" style="font-style: italic;margin: 0px" ><strong>SKPD Online</strong></h3>
                                <span style="font-size: 19px">Data Pajak</span>
                            </div>                    
                        </div>
        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3" style="text-align: center;background: whitesmoke;
                                padding: 15px">
                                    <img src="../assets/rekanan/image/logos.png" width="70px" alt="">
                                </div>
                                <div class="col-md-5" style="text-align: center; background: whitesmoke;
                                padding: 25px">
                                    <label for="">PEMERINTAH KABUPATEN RAJA AMPAT</label><br>
                                    <span>Badan Pengelolaan Pajak Dan Retribusi Daerah</span><br>
                                    <span>Komplek Kantor Bupati Waisai Kota</span>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-6">
                                        <label for="">SURAT KETEAPAN PAJAK DAERAH (SKPD)</label><br>
                                        <span>Tahun : 2020</span><br>
                                        <span>Bulan : Desember</span>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Nomor SKPD</label><br>
                                        <span ng-if="skpd.status_skpd!='Draft'" style="text-align: center">{{skpd.nomor_skpd}}</span>
                                        <span ng-if="skpd.status_skpd=='Draft'" style="text-align: center">Belum terbit</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding: 40px">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <label>Nama</label>
                                    </div>  
                                    <div class="col-md-10">
                                        <span>: {{skpd.pemilik_user_pajak}}</span>
                                    </div>                        
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <label>Alamat</label>
                                    </div>  
                                    <div class="col-md-10">
                                        <span>: {{skpd.alamat_user_pajak}}</span>
                                    </div>                        
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <label>NPWPD</label>
                                    </div>  
                                    <div class="col-md-10">
                                        <span>: {{skpd.no_npwpd}}</span>
                                    </div>  
                                </div>
                            </div>
                        </div>
                       
                       <div class="row" style="padding: 50px;margin-top:-60px">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12" style="background: #1b6984;border-top-left-radius: 15px;border-top-right-radius: 15px;color: white;text-align: center;font-size: 20px">
                                                <label>BATAS PENYETORAN TERAKHIR :</label>
                                            </div>
                                    </div>
                                    
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr style="background: #1b6984;color: white;">
                                                <th class="text-center" style="width: 100px">No</th>
                                                <th class="text-center" style="width: 180px; min-width: 180px;">Ayat</th>
                                                <th class="text-center" style="width: 120px; min-width: 100px;">Jenis Pajak</th>
                                                <th class="text-center" style="width: 120px; min-width: 100px;">Jumlah</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align: center">1</td>
                                                <td></td>
                                                <td style="text-align: center">{{skpd.jenis_pajak_sptpd}}</td>
                                                <td style="text-align: right">{{skpd.total_sptpd | currency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>PERHATIAN :</label><br>
                                <span>1. Harap penyetorannya dilakukan pada Bendahara Khusus Penerimaan Dinas Pendapatan Daerah Kabupaten Raja Ampat atau BPD Papua Cabang Waisai</span><br>
                                <span>2. Surat ketetapan ini dinyatakan lunas jika disahkan/validasi Kas Registrasi atau Cap/Tanda Tangan BKP</span><br>
                                <span>3. Terlambat menyetor dari batas tanggal penyetoran terakhir dikenakan denda sesuai dengan peraturan daerah yang berlaku</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top: 30px">
                                <div class="col-md-6" style="text-align: center;">
                                    <label>Penyetor</label><br><br><br><br><br>
                                    <span>Toni</span>
                                </div>
                                <div class="col-md-6" style="text-align: center;">
                                    <label>Waisai, 23 Desember 2020</label><br>
                                    <span>A.n Kepala Badan</span><br>
                                    <span>Kepala Sub Bidang Penetapan Pajak</span><br><br><br><br><br>
                                    <label>HENOK MANSOBEN</label><br>
                                    <span>NIP.196806261992031008</span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px">
                            <div class="col-md-5" style="background: #1b6984; color: white;padding: 30px">
                                <label>Kepada Yth,</label><br>
                                <span>Direktur utama BPD / BKP agar menerima penyetoran untuk keuntungan rekening pemegang kas Daerah Pemerintah Kabupaten Raja Ampat</span>
                            </div>
                            <div class="col-md-7" style="background: whitesmoke">
                                <label>Ruangan untuk teraan kas / register / tanda tangan / Cap BKP / Pejabat Bank</label><br><br><br><br><br><br><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="text-align: center;margin-top: 20px">
                                
                                <button type="button" ng-click="goBack()" class="btn btn-sm btn-flat btn-danger"><i class="fa fa-reply"></i> &nbsp; Kembali</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
                