<div ng-init="init()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> Beranda</a></li>
            <li><a>Proses Pengadaan</a></li>
            <li><a class="active">Data Pengadaan</a></li>
        </ol>
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box box-info">
                <div class="box-body">   
                    <div class="row">
                        <div class="col-md-5" style="padding-top: 10px;">
                            <h3 class="afta-font" style="margin-top: 0px;">Data Pengadaan</h3>
                        </div>
                        <div class="col-md-7" style="padding-top: 10px;">
                            <div class="form-group" >
                                <div class="text-right" style="width: auto!important; float: none!important;">
                                    <div class="form-inline" style="padding-top: 5px;">
                                        <label><b>Pencarian :</b>&nbsp;&nbsp;&nbsp;</label>
                                        <input type="checkbox" ng-change="centangStatus(statusTercentang)" ng-model="statusTercentang" ng-checked="statusTercentang">&nbsp;Status &nbsp;&nbsp;
                                        <input type="checkbox" ng-change="centangNamaLelang(namaLelangTercentang)" ng-model="namaLelangTercentang" ng-checked="namaLelangTercentang">&nbsp;Nama Pengadaan &nbsp;&nbsp;
                                        <input type="checkbox" ng-change="centangNamaTahapan(namaTahapanTercentang)" ng-model="namaTahapanTercentang" ng-checked="namaTahapanTercentang">&nbsp;Nama Tahapan &nbsp; &nbsp;
                                        <label>&nbsp;&nbsp;</label>
                                        <a ng-click="cariPaket()" class="btn btn-sm btn-flat btn-primary text-center" ><i class="fa fa-search"></i>&nbsp;Cari</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-show="statusTercentang" class="row" style="padding-bottom: 10px;">
                            <div class="col-md-6 col-sm-6 col-xs-12" style="float: right!important;">
                                <div class="form-group">
                                    <label style="padding-top: 5px;" class="col-md-4 col-sm-4 control-label text-left">Pilih Status :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <select ng-model="selectedStatus" ng-selected="selectedStatus" class="form-control" style="margin-bottom: 0px;">
                                            <option value="5">Semua</option>
                                            <option value="2">Selesai</option>
                                            <option value="1">Proses</option>
                                            <option value="0">Belum Mulai</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="namaLelangTercentang" class="row">
                            <div class="col-md-5 col-sm-5 col-xs-12" style="float: right!important; padding-bottom: 10px;">
                                <input ng-model="srcNamaLelang" type="text" placeholder="Cari Pengadaan" class="form-control" style="margin-bottom: 0px!important;">
                            </div>
                        </div>
                        <div ng-show="namaTahapanTercentang" class="row">
                            <div class="col-md-3 col-sm-5 col-xs-12" style="float: right!important;">
                                <input ng-model="srcNamaTahapan" type="text" placeholder="Cari Tahapan" class="form-control" style="margin-bottom: 0px!important;">
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table id="tabelPaket" class="table table-bordered table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th class="text-center order1" style="vertical-align: middle; width: 15px;">No</th>
                                            <th class="text-center order1" style="vertical-align: middle;">Nama Pengadaan</th>
                                            <th class="text-center order1" style="vertical-align: middle; width:25px;">Tanggal Pengumuman</th>
                                            <th class="text-center sortable" style="vertical-align: middle; width: 350px;">Nama Tahapan</th>
                                            <th class="text-center" style="vertical-align: middle; width: 60px;">Status</th>
                                            <th class="text-center" style="vertical-align: middle; width: 40px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="pkt in paket">
                                            <td style="vertical-align: middle;" class="text-center">{{currentPage > 1 ? (maxSize * (currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td style="vertical-align: middle;"><span ng-if="pkt.isKetua == 1"> <i class="fa fa-star"></i></span> {{pkt.nama_paket}}
                                                <label ng-if="pkt.flag_active == false && pkt.is_managed == 3" class="label label-sm label-warning">Lelang Ulang</label>
                                                <label ng-if="pkt.flag_active == false && pkt.is_managed == 4" class="label label-sm label-danger">Batal Lelang</label>
                                            </td>
                                            <td colspan="{{ pkt.belumMulai == false ? 1 : 3 }}" style="vertical-align: middle;" class="text-center">
                                                <span ng-if="pkt.belumMulai == false">
                                                    <span ng-if="pkt.tahapanLama[0].tgl_mulai">{{$root.convertTanggalWaktu(pkt.tahapanLama[0].tgl_mulai)}}</span>
                                                    <span ng-if="pkt.tahapanLama.length === 0 && pkt.tahapanSekarang[0].tgl_mulai">{{$root.convertTanggalWaktu(pkt.tahapanSekarang[0].tgl_mulai)}}</span>
                                                </span>
                                                <span ng-if="pkt.belumMulai == true">
                                                    <i class="fa fa-exclamation-triangle" style="margin-right: 5px;color: orange" aria-hidden="true"></i><span>Belum Mulai</span>
                                                </span>
                                            </td>                                            
                                            <td  ng-if="pkt.belumMulai == false " style="vertical-align: middle;">
                                                <div class="row">
                                                    <div ng-if="pkt.tahapanSekarang.length > 0" ng-repeat="z in pkt.tahapanSekarang" class="col-md-12">
                                                        <i class="fa fa-caret-right"></i> {{z.nama_tahapan}}
                                                    </div>
                                                    <div ng-if="pkt.tahapanNext.length > 0 && pkt.tahapanSekarang.length == 0" class="col-md-12">
                                                        <i class="fa fa-caret-right"></i> <small>Selanjutnya:</small> {{pkt.tahapanNext[0].nama_tahapan}}
                                                    </div>
                                                    <div ng-if="pkt.tahapanLama.length > 0 && pkt.tahapanNext.length == 0 && pkt.tahapanSekarang.length == 0" class="col-md-12">
                                                        <i class="fa fa-caret-right"></i> <small>Sebelumnya:</small> {{pkt.tahapanLama[pkt.tahapanLama.length - 1].nama_tahapan}} 
                                                    </div>
                                                </div>
                                            </td>
                                            <td ng-if="pkt.belumMulai == false" class="text-center" style="vertical-align: middle;">
                                                <div class="row">
                                                    <div ng-if="pkt.tahapanSekarang.length > 0" ng-repeat="z in pkt.tahapanSekarang" class="col-md-12">
                                                        <label ng-if="z.status == 0" class="label label-sm label-warning col-md-12">Belum Mulai</label>
                                                        <label ng-if="z.status == 1" class="label label-sm label-success col-md-12">Proses</label>
                                                        <label ng-if="z.status == 2" class="label label-sm label-info col-md-12">Selesai</label>
                                                    </div>
                                                    <div ng-if="pkt.tahapanNext.length > 0 && pkt.tahapanSekarang.length == 0" class="col-md-12">
                                                        <label class="label label-sm label-info col-md-12">Selanjutnya</label>
                                                    </div>
                                                    <div ng-if="pkt.tahapanLama.length > 0 && pkt.tahapanNext.length == 0 && pkt.tahapanSekarang.length == 0" class="col-md-12">
                                                        <label class="label label-sm label-info col-md-12">Selesai</label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <a class="btn btn-xs btn-info" ng-click="viewTahapan(pkt.paket_id)" title="Lihat Detail"><i class="fa fa-external-link"></i> Detail</a>
                                            </td>
                                        </tr>
                                        <tr ng-if="totalItems == 0"><td colspan="6">Tidak Ada Data</td></tr>
                                    </tbody>
                                </table>

                            </div>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-sd-4 col-md-7" >
                            <pagination ng-show="totalItems > 10" id="paginationPaket" total-items="totalItems" page="currentPage" items-per-page="10" 
                                        max-size="maxSize" on-select-page="jLoad(page)" style="cursor: pointer;"></pagination>
                            <br/><label>Total Data : {{totalItems}}</label>
                        </div>
                        <!--
                        <div class="col-sd-2 col-md-5">
                        </div>
                        -->
                    </div>
                    <!--
                    <div class="row">
                        <br />
                        <hr />
                        <div class="col-md-12" >
                            <a class="btn btn-flat btn-sm btn-warning" href="javascript:void(0)"><i class='fa fa-external-link'></i></a>&nbsp<label> : Detail</label>&nbsp&nbsp
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({html: true, placement: "right"});
        $("[data-toggle='popover']").popover('show');
    });

</script>