<div  ng-init="load()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> Beranda</a></li>
            <!-- <li><a>Data Master</a></li> -->
            <li><a class="active">Form Pendataan Pajak</a></li>
        </ol>
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12" style="font-size: 20px; text-align: center;margin-bottom: 25px;">
                                <label style="box-shadow: 0px 4px 0px var(--box-shadow-color);
                                --box-shadow-color: #67b7dc;">FORM PENDATAAN PAJAK</label>
                            </div>
                        </div>       
                        <div class="row" style="margin-top: 20px;margin-bottom: 20px">
                            <div class="form-group">
                                <div class="col-md-6" style="float: right">
                                    <div class="col-md-5">
                                        <label>Tanggal Formulir </label>
                                    </div>        
                                    <div class="input-group" align="center">
                                        <input class="form-control" size="16" disabled="true" required="true" value="" type="text" ng-model="tab1.dateFormulir" ambiltanggalfix>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>                                                
                        </div>             
                        <div class="row">
                            <div class="col-md-12">
                                <tabset style="background: aliceblue;">
                                        <!--active="a.id_form==infoTab"  disabled="true" -->
                                    <tab style="width: 25%;text-align: center;" ng-repeat="a in DataTab" heading="{{a.nama_form}}" >
                                        <div class="col-md-12" id="satu" ng-if="a.id_form==1">
                                            <div class="row" style="margin-top: 20px">
                                                <div class="col-md-3">
                                                    <label>JENIS BIDANG USAHA</label>
                                                </div>
                                                <div class="col-md-3" ng-repeat="a in DataJenisBadanUsaha">
                                                    <div class="col-sm-1">
                                                        <input type="radio" ng-model="tab1.nama_badan_usaha" ng-value="a.nama_badan_usaha">
                                                    </div>
                                                    &nbsp; {{a.nama_badan_usaha}}                                                    
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group" style="box-shadow: 0px 2px 0px var(--box-shadow-color);
                                                    --box-shadow-color: #67b7dc;">
                                                        <label>IDENTITAS PEMOHON</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Kewarganegaraan</label>
                                                        <input type="text" class="form-control input-sm" ng-model="tab1.kewarganegaraan" placeholder="Kewarganegaraan" />
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Tipe Identitas : &nbsp;&nbsp;
                                                            <input type="radio" ng-model="tab1.type_identitas" value="KTP"> KTP &nbsp;&nbsp;
                                                            <input type="radio" ng-model="tab1.type_identitas" value="SIM"> SIM &nbsp;&nbsp;
                                                            <input type="radio" ng-model="tab1.type_identitas" value="Paspor"> PASPOR
                                                        </label>
                                                        <input type="text" class="form-control input-sm" ng-model="tab1.nik" placeholder="Nomor Identitas Pemilik" onkeypress="return isNumberKey(event)"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Unggah Dokumen </label>
                                                        <div class="input-group">
                                                            <input id="uploadFile" style="padding-top: 5px!important;" type="file" onchange="angular.element(this).scope().fileMChanged(this)" class="form-control input-sm upload-file" data-max-size="{{$root.filemaksimal}}" />
                                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="uploads(1)" class="btn btn-sm btn-flat btn-success"><i class="fa fa-upload"></i> &nbsp; Upload</button>
                                                            </span>
                                                        </div>
                                                        <small> ( <span ng-repeat="ft in $root.filetypelist">{{ft.file_type_name}}{{$last ? '' : ', '}}</span><span> / Maksimal : {{$root.ukuranfile}} KB</span> ) </small><br>
                                                        <span ng-if="nama_bukti_identitas_user_pajak!=''">{{nama_bukti_identitas_user_pajak}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Nama Pemilik</label>
                                                        <input type="text" class="form-control input-sm" ng-model="tab1.nama" placeholder="nama"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label>Alamat</label>
                                                        <input type="text" class="form-control input-sm" ng-model="tab1.alamat" placeholder="Alamat" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        <input type="text" class="form-control input-sm" ng-model="tab1.email" placeholder="Email"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label>Telepon</label>
                                                        <input type="text" class="form-control input-sm" ng-model="tab1.no_telp" placeholder="No Telp" onkeypress="return isNumberKey(event)"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                               <div class="col-md-12" style="text-align: center;">
                                                    <button class="btn btn-flat btn-danger" ng-click="previous(0)"><i class="glyphicon glyphicon-circle-arrow-left"> Back</i></button>
                                                    <button class="btn btn-flat btn-success" ng-click="next(event, a.nama_form, 1)"></i> Next <i class="glyphicon glyphicon-circle-arrow-right"></i></button>
                                               </div>
                                           </div> 
                                        </div>
                                        <div class="col-md-12" id="dua" ng-if="a.id_form==2">
                                            <div class="row" style="margin-top: 20px">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label style="float: left;">Jenis Badan Usaha</label>&nbsp;&nbsp;&nbsp;
                                                        <div class="col-md-2" ng-repeat="bd in DataBidangUsaha">
                                                            <input type="radio" ng-model="tab2.nama_bidang_usaha" ng-value="bd.nama_bidang_usaha"> {{bd.nama_bidang_usaha}}
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="text" ng-if="tab2.nama_bidang_usaha=='Lainnya'" class="form-control input-sm" ng-model="tab2.lainnya" placeholder="Lainnya" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Nama Badan Usaha</label>
                                                        <input type="text" class="form-control input-sm" ng-model="tab2.nama_badan_usaha" placeholder="Nama Badan Usaha" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Alamat Usaha</label>
                                                        <input type="text" class="form-control input-sm" ng-model="tab2.alamat_usaha" placeholder="Alamat Usaha" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Kabupaten Usaha</label>
                                                        <input type="text" class="form-control input-sm" ng-model="tab2.kabupaten_usaha" placeholder="Kabupaten Usaha" disabled/>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Kecamatan Usaha</label>
                                                        <select ng-model="tab2.kecamatan" class="form-control">
                                                            <option value="">--Pilih Kecamatan--</option>
                                                            <option data-ng-repeat="a in DataDistrik" value="{{a.kode_mst_distrik}}">{{a.nama_mst_distrik}}</option>
                                                        </select>   
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Kelurahan Usaha</label>
                                                       
                                                        <select ng-model="tab2.kelurahan_usaha" class="form-control">
                                                            <option value="">--Pilih Kelurahan--</option>
                                                            <option data-ng-repeat="a in DataKelurahan" value="{{a.kode_mst_kelurahan}}">{{a.nama_mst_kelurahan}}</option>
                                                        </select>   
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>RT / RW Usaha</label>
                                                        <input type="text" class="form-control input-sm" ng-model="tab2.rt" placeholder="RT / RW Usaha"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Kode Pos Usaha</label>
                                                        <input type="text" class="form-control input-sm" ng-model="tab2.kode_pos" placeholder="Kode Pos Usaha" onkeypress="return isNumberKey(event)"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Telephone Usaha</label>
                                                        <input type="text" class="form-control input-sm" ng-model="tab2.telp_usaha" placeholder="Telephone Usaha" onkeypress="return isNumberKey(event)"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Fax Usaha</label>
                                                        <input type="text" class="form-control input-sm" ng-model="tab2.fax_usaha" placeholder="Fax Usaha" onkeypress="return isNumberKey(event)"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Email Usaha</label>
                                                        <input type="text" class="form-control input-sm" ng-model="tab2.email_usaha" placeholder="Email Usaha" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Fotocopy Akter Pendirian Perusahaan</label>
                                                        <div class="input-group">
                                                            <input id="uploadFile" style="padding-top: 5px!important;" type="file" onchange="angular.element(this).scope().fileMChanged(this)" class="form-control input-sm upload-file" data-max-size="{{$root.filemaksimal}}" />
                                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="uploads(2)" class="btn btn-sm btn-flat btn-success"><i class="fa fa-upload"></i> &nbsp; Upload</button>
                                                            </span>
                                                        </div>
                                                        <small> ( <span ng-repeat="ft in $root.filetypelist">{{ft.file_type_name}}{{$last ? '' : ', '}}</span><span> / Maksimal : {{$root.ukuranfile}} KB</span> ) </small><br>
                                                        <span style="color: red">*(Jika kepemilikannya berbentuk PT/CV)</span><br>
                                                        <span ng-if="nama_bukti_akta_data_pajak!=''">{{nama_bukti_akta_data_pajak}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Foto Surat Perjanjian Kontrak dan Sewa
                                                            <!-- <small> ( <span ng-repeat="ft in $root.filetypelist">{{ft.file_type_name}}{{$last ? '' : ', '}}</span><span> / Maksimal : {{$root.ukuranfile}} KB</span> ) </small> -->
                                                        </label>
                                                        <div class="input-group">
                                                            <input id="uploadFile" style="padding-top: 5px!important;" type="file" onchange="angular.element(this).scope().fileMChanged(this)" class="form-control input-sm upload-file" data-max-size="{{$root.filemaksimal}}" />
                                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="uploads(3)" class="btn btn-sm btn-flat btn-success"><i class="fa fa-upload"></i> &nbsp; Upload</button>
                                                            </span>
                                                        </div>
                                                        <small> ( <span ng-repeat="ft in $root.filetypelist">{{ft.file_type_name}}{{$last ? '' : ', '}}</span><span> / Maksimal : {{$root.ukuranfile}} KB</span> ) </small><br>
                                                        <span style="color: red">*(Jika tempat usaha berstatus sewa atau kontrak)</span><br>
                                                        <span ng-if="nama_bukti_sewa_data_pajak!=''">{{nama_bukti_sewa_data_pajak}} </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Fotocopy Sertifikat</label>
                                                        <div class="input-group">
                                                            <input id="uploadFile" style="padding-top: 5px!important;" type="file" onchange="angular.element(this).scope().fileMChanged(this)" class="form-control input-sm upload-file" data-max-size="{{$root.filemaksimal}}" />
                                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="uploads(4)" class="btn btn-sm btn-flat btn-success"><i class="fa fa-upload"></i> &nbsp; Upload</button>
                                                            </span>
                                                        </div>
                                                        <small> ( <span ng-repeat="ft in $root.filetypelist">{{ft.file_type_name}}{{$last ? '' : ', '}}</span><span> / Maksimal : {{$root.ukuranfile}} KB</span> ) </small><br>
                                                        <span style="color: red">*(Jika tempat usaha milik sendiri)</span><br>
                                                        <span ng-if="nama_bukti_sertifikat_data_pajak!=''">{{nama_bukti_sertifikat_data_pajak}} </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" style="text-align: center;">
                                                <button class="btn btn-flat btn-warning" ng-click="previous(1)"><i class="glyphicon glyphicon-circle-arrow-left"></i> Back </button>
                                                <button class="btn btn-flat btn-success" ng-click="next(0,0,2)">Next <i class="glyphicon glyphicon-circle-arrow-right"></i></button>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-12" id="tiga" ng-if="a.id_form==3">
                                            <div class="row" style="margin-top: 20px">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label>No PBB </label>
                                                        <input type="text" class="form-control input-sm" ng-model="tab3.no_pbb"onkeypress="return isNumberKey(event)" />
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>SPPT Pelunasan PBB Terakhir
                                                        </label>
                                                        <div class="input-group">
                                                            <input id="uploadFile" style="padding-top: 5px!important;" type="file" onchange="angular.element(this).scope().fileMChanged(this)" class="form-control input-sm upload-file" data-max-size="{{$root.filemaksimal}}" />
                                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="uploads(5)" class="btn btn-sm btn-flat btn-success"><i class="fa fa-upload"></i> &nbsp; Upload</button>
                                                            </span>
                                                        </div>
                                                        <small> ( <span ng-repeat="ft in $root.filetypelist">{{ft.file_type_name}}{{$last ? '' : ', '}}</span><span> / Maksimal : {{$root.ukuranfile}} KB</span> ) </small><br>
                                                        <span ng-if="nama_bukti_pelunasan_pbb_data_pajak!=''">{{nama_bukti_pelunasan_pbb_data_pajak}} </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group" style="box-shadow: 0px 2px 0px var(--box-shadow-color);
                                                    --box-shadow-color: #67b7dc;">
                                                        <label>IZIN USAHA</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>No Izin Usaha</label>
                                                        <input type="text" class="form-control input-sm" ng-model="tab3.no_izin_usaha" placeholder="No Izin Usaha" onkeypress="return isNumberKey(event)" />
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Nama Izin Usaha</label>
                                                        <input type="text" class="form-control input-sm" ng-model="tab3.nama_izin_usaha" placeholder="Nama Izin Usaha" />
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Tanggal Perkiraan Selesai</label>
                                                        <div class="input-group" align="center">
                                                            <input class="form-control" size="16" required="true" value="" type="text" ng-model="tab3.datePerkiraan" ambiltanggalfix>
                                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                        </div>
                                                    </div> 
                                                </div>
                                            </div>
                                            <div class="row" ng-if="tab1.nama_badan_usaha=='Hotel'">
                                                <div class="col-md-12">
                                                    <div class="form-group" style="box-shadow: 0px 2px 0px var(--box-shadow-color);
                                                    --box-shadow-color: #67b7dc;">
                                                        <label>JENIS KAMAR</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row"  ng-repeat="c in DataJenisKamar" ng-if="tab1.nama_badan_usaha=='Hotel'">
                                                <div class="col-md-4">
                                                    <div class="col-md-6">
                                                        <label>{{c.id_kamar}}. {{c.nama_kamar}}</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="input-group" align="center">
                                                                <input type="text" class="form-control input-sm" ng-model="tab3Kamar[$index].jml_kamar" placeholder="0" onkeypress="return isNumberKey(event)"/>
                                                                <span class="input-group-addon">Kamar</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label>A. Rate High Season</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <div class="input-group" align="center">
                                                                    <span class="input-group-addon">Rp</span>
                                                                    <input type="text" class="form-control input-sm" ng-model="tab3Kamar[$index].nominalHigh" placeholder="0" onkeypress="return isNumberKey(event)"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="radio" name="" id="" ng-model="tab3Kamar[$index].periodeHigh" value="Hari">&nbsp;Hari&nbsp;&nbsp;
                                                            <input type="radio" name="" id="" ng-model="tab3Kamar[$index].periodeHigh" value="Bulan">&nbsp;Bulan&nbsp;&nbsp;
                                                            <input type="radio" name="" id="" ng-model="tab3Kamar[$index].periodeHigh" value="Tahun">&nbsp;Tahun&nbsp;&nbsp;
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label>B. Rate Low Season</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <div class="input-group" align="center">
                                                                    <span class="input-group-addon">Rp</span>
                                                                    <input type="text" class="form-control input-sm" ng-model="tab3Kamar[$index].nominalLow" placeholder="0" onkeypress="return isNumberKey(event)"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                                <input type="radio" name="" id="" ng-model="tab3Kamar[$index].periodeLow" value="Hari">&nbsp;Hari&nbsp;&nbsp;
                                                                <input type="radio" name="" id="" ng-model="tab3Kamar[$index].periodeLow" value="Bulan">&nbsp;Bulan&nbsp;&nbsp;
                                                                <input type="radio" name="" id="" ng-model="tab3Kamar[$index].periodeLow" value="Tahun">&nbsp;Tahun&nbsp;&nbsp;
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <button ng-click="tes()">Tes</button> -->
                                            </div>
                                            <!-- //////////////////////////////////// -->
                                            <div class="row" style="box-shadow: 0px -2px 0px var(--box-shadow-color);
                                            --box-shadow-color: #67b7dc;font-size: 13px">
                                                <div class="col-md-3" style="margin-top: 20px">
                                                    <div class="form-group">
                                                        <label>Foto Lokasi Usaha Tampak Depan
                                                        </label>
                                                        <div class="input-group">
                                                            <input id="uploadFile" style="padding-top: 5px!important;" type="file" onchange="angular.element(this).scope().fileMChanged(this)" class="form-control input-sm upload-file" data-max-size="{{$root.filemaksimal}}" />
                                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="uploads(6)" class="btn btn-sm btn-flat btn-success"><i class="fa fa-upload"></i> &nbsp; Upload</button>
                                                            </span>
                                                        </div>
                                                        <small> ( <span ng-repeat="ft in $root.filetypelist">{{ft.file_type_name}}{{$last ? '' : ', '}}</span><span> / Maksimal : {{$root.ukuranfile}} KB</span> ) </small><br>
                                                        <span ng-if="nama_foto_depan_data_pajak!=''">{{nama_foto_depan_data_pajak}} </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3" style="margin-top: 20px">
                                                    <div class="form-group">
                                                        <label>Denah Lokasi / Tempat Usaha
                                                        </label>
                                                        <div class="input-group">
                                                            <input id="uploadFile" style="padding-top: 5px!important;" type="file" onchange="angular.element(this).scope().fileMChanged(this)" class="form-control input-sm upload-file" data-max-size="{{$root.filemaksimal}}" />
                                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="uploads(7)" class="btn btn-sm btn-flat btn-success"><i class="fa fa-upload"></i> &nbsp; Upload</button>
                                                            </span>
                                                        </div>
                                                        <small> ( <span ng-repeat="ft in $root.filetypelist">{{ft.file_type_name}}{{$last ? '' : ', '}}</span><span> / Maksimal : {{$root.ukuranfile}} KB</span> ) </small><br>
                                                        <span ng-if="nama_denah_data_pajak!=''">{{nama_denah_data_pajak}} </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3" style="margin-top: 20px">
                                                    <div class="form-group">
                                                        <label>Brosur Perusahaan</label>
                                                        <div class="input-group">
                                                            <input id="uploadFile" style="padding-top: 5px!important;" type="file" onchange="angular.element(this).scope().fileMChanged(this)" class="form-control input-sm upload-file" data-max-size="{{$root.filemaksimal}}" />
                                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="uploads(8)" class="btn btn-sm btn-flat btn-success"><i class="fa fa-upload"></i> &nbsp; Upload</button>
                                                            </span>
                                                        </div>
                                                        <small> ( <span ng-repeat="ft in $root.filetypelist">{{ft.file_type_name}}{{$last ? '' : ', '}}</span><span> / Maksimal : {{$root.ukuranfile}} KB</span> ) </small><br>
                                                        <span ng-if="nama_brosur_data_pajak!=''">{{nama_brosur_data_pajak}} </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3" style="margin-top: 20px">
                                                    <div class="form-group">
                                                        <label>Rekap Penjualan Dalam 1 Bulan</label>
                                                        <div class="input-group">
                                                            <input id="uploadFile" style="padding-top: 5px!important;" type="file" onchange="angular.element(this).scope().fileMChanged(this)" class="form-control input-sm upload-file" data-max-size="{{$root.filemaksimal}}" />
                                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="uploads(9)" class="btn btn-sm btn-flat btn-success"><i class="fa fa-upload"></i> &nbsp; Upload</button>
                                                            </span>
                                                        </div>
                                                        <small> ( <span ng-repeat="ft in $root.filetypelist">{{ft.file_type_name}}{{$last ? '' : ', '}}</span><span> / Maksimal : {{$root.ukuranfile}} KB</span> ) </small><br>
                                                        <span ng-if="nama_rekap_data_pajak!=''">{{nama_rekap_data_pajak}} </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" style="text-align: center;">
                                                <button class="btn btn-flat btn-warning" ng-click="previous(1)"><i class="glyphicon glyphicon-circle-arrow-left"></i> Back </button>
                                                <button class="btn btn-flat btn-success" ng-click="next(0,0,3)">Next <i class="glyphicon glyphicon-circle-arrow-right"></i></button>
                                                <!-- <button class="btn btn-flat btn-success" ng-click="tes()">Tes <i class="glyphicon glyphicon-circle-arrow-right"></i></button> -->
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-md-12" id="empat" ng-if="a.id_form==4">
                                            <div ng-if="tab1.nama_badan_usaha == 'Hotel'">
                                                <div class="row" style="margin-top: 20px;">
                                                    <div class="col-md-6">
                                                        <div class="col-md-3">
                                                            <label>Restaurant :</label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label style="font-size: 12px;">Jumlah Meja </label>
                                                                <input type="text" class="form-control input-sm" ng-model="tab4HotelResto.mejaRest" onkeypress="return isNumberKey(event)"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label style="font-size: 12px;">Jumlah Kursi </label>
                                                                <input type="text" class="form-control input-sm" ng-model="tab4HotelResto.kursiRest" onkeypress="return isNumberKey(event)"/>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-3">
                                                            <label>Hiburan : </label>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label style="font-size: 12px;">Jenis Hiburan </label>
                                                                        <input type="text" class="form-control input-sm" ng-model="tab4HotelHiburan.jenis_hiburan" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label style="font-size: 12px;">Jumlah Kursi </label>
                                                                        <input type="text" class="form-control input-sm" ng-model="tab4HotelHiburan.kursiHiburan" onkeypress="return isNumberKey(event)"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label style="font-size: 12px;">Jumlah Meja </label>
                                                                        <input type="text" class="form-control input-sm" ng-model="tab4HotelHiburan.mejaHiburan" onkeypress="return isNumberKey(event)"/>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label style="font-size: 12px;">Jumlah Tiket/Paket </label>
                                                                        <input type="text" class="form-control input-sm" ng-model="tab4HotelHiburan.jumlahTiket" onkeypress="return isNumberKey(event)"/>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label style="font-size: 12px;">Harga Tiket/Paket</label>
                                                                        <input type="text" class="form-control input-sm" ng-model="tab4HotelHiburan.hargaTiket" onkeypress="return isNumberKey(event)"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-3">
                                                            <label>Jumlah Pegawai :</label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label style="font-size: 12px;">Seluruhnya </label>
                                                                <input type="text" class="form-control input-sm" onkeypress="return isNumberKey(event)" ng-model="tab4Hotel.seluruhnya" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label style="font-size: 12px;">Yang mendapatkan service </label>
                                                                <input type="text" class="form-control input-sm" ng-model="tab4Hotel.service" onkeypress="return isNumberKey(event)"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-3">
                                                            <label>Parkir :</label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label style="font-size: 12px;">Motor </label>
                                                                <input type="text" class="form-control input-sm" ng-model="tab4HotelParkir.motor" onkeypress="return isNumberKey(event)"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label style="font-size: 12px;">Mobil</label>
                                                                <input type="text" class="form-control input-sm" ng-model="tab4HotelParkir.mobil" onkeypress="return isNumberKey(event)"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-3">
                                                            <label>Laundry :</label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label style="font-size: 12px;">Nama Laundry </label>
                                                                <input type="text" class="form-control input-sm" ng-model="tab4HotelLaundry.nama_laundry" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label style="font-size: 12px;">Telephone Laundry </label>
                                                                <input type="text" class="form-control input-sm"  onkeypress="return isNumberKey(event)" ng-model="tab4HotelLaundry.telp_laundry" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-6">
                                                            <label>Alat (Mesin) Pembayaran :</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="radio" name="" id="" ng-model="tab4.bayar" value="Manual"> Manual / Bill <br>
                                                            <input type="radio" name="" id="" ng-model="tab4.bayar" value="Register"> Computer / Cash Register <br>
                                                            <input type="radio" name="" id="" ng-model="tab4.bayar" value="Lainnya"> Lainnya <br>
                                                            <input type="text" class="form-control input-sm" ng-hide="tab4.bayar!='Lainnya'"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="tab1.nama_badan_usaha == 'Restaurant'">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="col-md-3">
                                                                <label>Jam buka :</label>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label>Dari</label>
                                                                <!-- <input type="text" class="form-control input-sm" ng-model="tab4Resto.mulai" ambilwaktu/> -->
                                                                <div class="input-group" align="center">
                                                                    <input class="form-control" size="16"  required="true" value="" type="text" ng-model="tab4Resto.mulai" tanggalwaktu2>
                                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="col-md-4">
                                                                <label>Sampai</label>
                                                                <div class="input-group" align="center">
                                                                    <input class="form-control" size="16"  required="true" value="" type="text" ng-model="tab4Resto.buka" tanggalwaktu2>
                                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                                </div>
                                                                <!-- <input class="form-control" size="16"  required="true" value="" type="text" ng-model="tab4Resto.buka" tanggalwaktu2>
                                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Jumlah Meja</label>
                                                            <input type="text" class="form-control input-sm" ng-model="tab4Resto.meja" onkeypress="return isNumberKey(event)">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Jumlah Kursi</label>
                                                            <input type="text" class="form-control input-sm" ng-model="tab4Resto.kursi" onkeypress="return isNumberKey(event)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group" style="box-shadow: 0px 2px 0px var(--box-shadow-color);
                                                        --box-shadow-color: #67b7dc;background: aliceblue;">
                                                            <label>Harga Menu</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="col-md-3">
                                                            <label>Makanan</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Termahal</label>
                                                                <input type="text" class="form-control input-sm" onkeypress="return isNumberKey(event)"ng-model="tab4Resto.makanan_termahal">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Termurah</label>
                                                                <input type="text" class="form-control input-sm" onkeypress="return isNumberKey(event)"ng-model="tab4Resto.makanan_termurah">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-3">
                                                            <label>Minuman</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Termahal</label>
                                                                <input type="text" class="form-control input-sm" onkeypress="return isNumberKey(event)" ng-model="tab4Resto.minuman_termahal">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Termurah</label>
                                                                <input type="text" class="form-control input-sm" onkeypress="return isNumberKey(event)" ng-model="tab4Resto.minuman_termurah">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="box-shadow: 0px 2px 0px var(--box-shadow-color);
                                                --box-shadow-color: #67b7dc;">
                                                    <div class="col-md-4">
                                                        <label style="float: right">Rata - rata pendapatan (per-bulan) </label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <div class="input-group" align="center">
                                                                <input type="text" class="form-control input-sm" onkeypress="return isNumberKey(event)" ng-model="tab4Resto.pendapatan_harian" placeholder="0" />
                                                                <span class="input-group-addon">Bulan</span>
                                                            </div>
                                                        </div>
                                                    </div>      
                                                </div>
                                                <div class="row" style="margin-top: 20px">
                                                    <div class="col-md-6">
                                                        <div class="col-md-3">
                                                            <label>Jumlah Pegawai :</label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label style="font-size: 12px;">Seluruhnya </label>
                                                                <input type="text" class="form-control input-sm" onkeypress="return isNumberKey(event)"  ng-model="tab4Resto.seluruhnya" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label style="font-size: 12px;">Yang mendapatkan service </label>
                                                                <input type="text" onkeypress="return isNumberKey(event)"  class="form-control input-sm" ng-model="tab4Resto.service" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-6">
                                                            <label>Alat (Mesin) Pembayaran :</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="radio" name="" id="" ng-model="tab4.bayar" value="Manual"> Manual / Bill <br>
                                                            <input type="radio" name="" id="" ng-model="tab4.bayar" value="Register"> Computer / Cash Register <br>
                                                            <input type="radio" name="" id="" ng-model="tab4.bayar" value="Lainnya"> Lainnya <br>
                                                            <input type="text" class="form-control input-sm" ng-hide="tab4.bayar!='Lainnya'" ng-model="tab4.bayarLainnya" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div ng-if="tab1.nama_badan_usaha == 'Parkir'">
                                                <div class="row" style="margin-top: 20px">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Luas Area Parkir</label>
                                                            <div class="input-group" align="center">
                                                                <input type="text" class="form-control input-sm" ng-model="tab4Parkir.luas_area"/>
                                                                <span class="input-group-addon">m2</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Kapasitas Mobil</label>
                                                            <input type="text" class="form-control input-sm" ng-model="tab4Parkir.kapasitas_mobil"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Kapasitas Motor</label>
                                                            <input type="text" class="form-control input-sm" ng-model="tab4Parkir.kapasitas_motor"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Jumlah Pegawai</label>
                                                            <input type="text" class="form-control input-sm" ng-model="tab4Parkir.jumlah_pegawai"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div ng-if="tab1.nama_badan_usaha == 'Hiburan'">
                                                    <div class="row" style="margin-top: 20px">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Jumlah Kursi</label>
                                                                <input type="text" class="form-control input-sm" ng-model="tab4Hiburan.jumlah_kursi"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Jumlah Tiket Tersedia</label>
                                                                <input type="text" class="form-control input-sm" ng-model="tab4Hiburan.jumlah_tiket"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Tarif</label>
                                                                <input type="text" class="form-control input-sm" ng-model="tab4Hiburan.tarif"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Jumlah Pegawai</label>
                                                                <input type="text" class="form-control input-sm" ng-model="tab4Hiburan.jumlah_pegawai"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            
                                            <div ng-if="tab1.nama_badan_usaha == 'Reklame'" style="margin-top: 20px">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Isi Reklame</label>
                                                            <textarea type="text" class="form-control input-sm" ng-model="tab4Reklame.isi_reklame" placeholder="Isi Reklame" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Jenis Reklame</label>
                                                            <selectize placeholder='Jenis Reklame' options='DataReklame.jenisReklame' config="myConfigJenisReklame" ng-model="tab4Reklame.jenis_reklame" ng-disabled='disable' ng-selected="1" required></selectize>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Tempat Pasang Reklame</label>
                                                            <selectize placeholder='Tempat Pasang Reklame' options='DataReklame.jalan' config="myConfig" ng-model="tab4Reklame.tempat_reklame" ng-disabled='disable' ng-selected="1" required></selectize>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Sudut Pandang Reklame</label>

                                                            <selectize placeholder='Sudut Pandang Reklame' options='DataReklame.sudutPandang' config="myConfigSudutReklame" ng-model="tab4Reklame.sudut_pandang" ng-disabled='disable' ng-selected="1" required></selectize>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Masa Pasang Reklame</label>
                                                            <div class="input-group" align="center">
                                                                <input type="text" class="form-control input-sm" ng-model="tab4Reklame.masa_pasang" placeholder="Masa Pasang Reklame" />
                                                                <span class="input-group-addon">Bulan</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>          
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Lebar Reklame</label>
                                                            <input type="text" ng-change="hitungLuasReklame()" class="form-control input-sm" ng-model="tab4Reklame.lebarReklame" placeholder="Lebar Reklame" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Panjang Reklame</label>
                                                            <input type="text" ng-change="hitungLuasReklame()" class="form-control input-sm" ng-model="tab4Reklame.panjang_reklame" placeholder="Panjang Reklame" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Ketinggian Reklame</label>
                                                            <input type="text" ng-change="hitungLuasReklame()" class="form-control input-sm" ng-model="tab4Reklame.tinggi_reklame" placeholder="Panjang Reklame" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Luas Reklame</label>
                                                            <div class="input-group" align="center">
                                                                <input type="text" disabled class="form-control input-sm" ng-model="tab4Reklame.luas_reklame" placeholder="Luas Reklame" />
                                                                <span class="input-group-addon">M2</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                                      
                                                
                                            </div>

                                            <div class="row" style="margin-top: 20px">
                                                <div class="col-md-4">
                                                    <label style="float: right">Rata - rata pendapatan (per-bulan) </label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <div class="input-group" align="center">
                                                            <input type="text" class="form-control input-sm" ng-model="tab4.pendapatan_bulan" placeholder="0" />
                                                            <span class="input-group-addon">Bulan</span>
                                                        </div>
                                                    </div>
                                                </div>                                              
                                            </div>
                                           <div class="row">
                                               <div class="col-md-12" style="text-align: center;">
                                                    <button class="btn btn-flat btn-warning" ng-click="previous(1)"><i class="glyphicon glyphicon-circle-arrow-left"></i> Back </button>
                                                   <button class="btn btn-flat btn-success" ng-click="simpan()"><i class="fa fa-save"></i> Simpan</button>
                                               </div>
                                           </div> 
                                        </div>
                                    </tab>
                                </tabset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
      function isNumberKey(evt){
        var charCode = (evt.which)?evt.which:evt.keyCode;        
        if((charCode >= 48 && charCode <=57) && charCode!=22)
            return true;

            return false;
    }

    function openTab(evt, paramForm) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(paramForm).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>