<section class="content" ng-init="init()" >
<ol class="breadcrumb">
    <li><a href="#/homeadmin"><i class="fa fa-home"></i> Beranda</a></li>
    <!-- <li><a>Data Master</a></li> -->
    <li><a class="active">Aktivasi User</a></li>
</ol>
<div class="row"> <!--  style="padding-top: 25px;" -->
    <div class="col-md-12 center-block" style="float: none!important;">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-7">
                        <h3 class="afta-font judul-datatabel"><strong>Aktivasi User</strong></h3>
                    </div>
                    <!-- <div class="col-md-5">
                        <form method="post" role="form" ng-submit="cariBerita()" >
                            <div class="input-group">
                            <input type="text" class="form-control" placeholder="Cari Judul / Isi Berita" ng-model="kata.srcText" ng-model-options="{ debounce: 500 }" ng-change="cariBerita()" >
                                <span class="input-group-btn">
                                    <button  type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="cariBerita()">
                                        <i class="fa fa-search"></i>&nbsp; Cari</button>
                                </span>
                            </div>
                        </form>
                    </div> -->
                </div>

				<div class="row">
                    <div class="col-sd-4 col-md-12" >
                        <form method="post" role="form" ng-submit="" >
                            <div class="input-group">
                            <input type="text" class="form-control" placeholder="Cari Nama User" ng-model="kata.srcText" ng-model-options="{ debounce: 500 }" ng-change="" >
                                <span class="input-group-btn">
                                    <button  type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="">
                                        <i class="fa fa-search"></i>&nbsp; Cari</button>
                                </span>
                            </div>
                        </form>
					</div>
					 <!-- <div class="col-sd-2 col-md-5">
                        <button type="button" style="float:right!important" class="btn btn-flat btn-success turun-15" ng-click="tambah()">
                            <i class='fa fa-plus'></i>&nbsp; Tambah Data
                        </button>
                    </div> -->
					
                </div>
				<br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table table-responsive dragscroll long-table">
                            <table class="table table-bordered table-striped table-condensed text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="vertical-align: middle; width: 20px;">No</th>
                                        <th class="text-center" style="vertical-align: middle; width: 100px;">Nama User</th>
                                        <th class="text-center" style="vertical-align: middle;">NIK/Paspor/SIM</th>
                                        <th class="text-center" style="vertical-align: middle;">Email</th>
                                        <th class="text-center" style="vertical-align: middle;">No Telp</th>
                                        <th class="text-center" style="vertical-align: middle;">Status</th>
                                        <!--
                                        <th class="text-center">Isi Berita</th>
                                        -->
                                        <th class="text-center" style="width: 220px; vertical-align: middle;">Action</th> <!-- 180px -->
                                    </tr>
                                </thead> 
                                <tbody>	
                                    <tr ng-repeat="ba in data">
                                        <td style="vertical-align: middle;" class="text-center">{{currentPage > 1 ? (maxSize * (currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                        <td style="vertical-align: middle;" class="text-center">{{ba.pemilik_user_pajak}}</td>
                                        <td style="vertical-align: middle;" class="text-center">{{ba.no_identitas_user_pajak}}</td>
                                        <td style="vertical-align: middle;" class="text-center">{{ba.email_user_pajak}}</td>
                                        <td style="vertical-align: middle;" class="text-center">{{ba.telp_user_pajak}}</td>
                                        <td style="vertical-align: middle;" class="text-center" ng-if="ba.flag_active==true">Aktif</td>
                                        <td style="vertical-align: middle;" class="text-center" ng-if="ba.flag_active==false">Non Aktif</td>
                                        <td style="vertical-align: middle;" class="text-center">
                                            <a class="btn btn-flat btn-sm btn-warning" ng-if="ba.flag_active!=true" ng-click="ubahStatus(ba, 1)" title="Aktif">
                                                <i class="glyphicon glyphicon-ok"></i></a>
                                            <a class="btn btn-flat btn-sm btn-danger" ng-if="ba.flag_active==true" ng-click="ubahStatus(ba, 0)"title="Non Aktifkan"> 
                                                <i class='glyphicon glyphicon-remove'></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                            
                        </div>
                    </div>
					 <div class="col-md-12"><label><br>Total Data: {{totalItems}}</label></div>
                </div>
                
                <div class="row">
                    <div class="col-md-12" > 
                        <a class="btn btn-flat btn-sm btn-warning"><i class='glyphicon glyphicon-ok'></i></a>&nbsp<label> : Aktif</label>&nbsp&nbsp
                        <a class="btn btn-flat btn-sm btn-danger"><i class='glyphicon glyphicon-remove'></i></a>&nbsp<label> : Non Aktif</label>&nbsp&nbsp
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>

<script type="text/ng-template" id="tambahBerita.html">
<div id="idTambahBadan" class="modal-content" style="z-index: 0;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font text-center" id="myModalLabel">{{action}} Berita </h3>
    </div>
    <div class="modal-body well">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Judul Berita </label>
                    <input type="text" class="form-control input-sm" ng-model="berita.title_news" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Tanggal</label>
                    <div class="input-group" align="center">
                        <input class="form-control" size="16" required="true" value="" type="text" ng-model="berita.date_news" ambiltanggalfix>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-show="flagTombol" class="col-md-3">
                <div  class="form-group">
                    <br/>
                    <a ng-show="adafileberita" href="{{$root.url_api+berita.picture_news}}" class="btn btn-primary btn-xs" target="_blank"><i class="fa fa-download"></i>&nbsp; Download Dokumen Berita</a>
                    <label ng-show="!(adafileberita)" class="label label-xs label-default"><i class="fa fa-download"></i>&nbsp;Tidak Ada File</label>
                </div>
            </div>
            <div ng-class="flagTombol == false ? 'col-md-12' : 'col-md-9'">
                <div class="form-group">
                    <label>Unggah Dokumen Berita
                        <small> ( <span ng-repeat="ft in $root.filetypelist">{{ft.file_type_name}}{{$last ? '' : ', '}}</span><span> / Maksimal : {{$root.ukuranfile}} KB</span> ) </small>
                    </label>
                    <div class="input-group">
                        <input id="uploadFile" style="padding-top: 5px!important;" type="file" onchange="angular.element(this).scope().fileMChanged(this)" class="form-control input-sm upload-file" data-max-size="{{$root.filemaksimal}}" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="uploads()" class="btn btn-sm btn-flat btn-success"><i class="fa fa-upload"></i> &nbsp; Upload</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-bottom: 20px;" ng-show="filesToUpload.length > 0">
            <div class="col-md-8 col-sm-12 col-xs-12 center-block" style="float: none!important;">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Nama File</th>
                                <th class="text-center" style="width: 180px; min-width: 180px;">Ukuran File</th>
                                <th class="text-center" style="width: 120px; min-width: 100px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fl in filesToUpload">
                                <td style="word-wrap: break-word!important;">{{fl.fileName}}</td>
                                <td class="text-center" style="word-wrap: break-word!important;">{{fl.fileSize}} KB</td>
                                <td class="text-center" style="word-wrap: break-word!important;">
                                    <button class="btn btn-xs red center-block" ng-click="removeFile(fl.fileName)" >
                                        Hapus <i class="fa fa-minus-circle"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Isi Berita</label>
                    <textarea class="form-control" data-ui-tinymce="customTinymce" ng-model="berita.content_news"></textarea> <!-- rows="15" -->
                </div>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label>Upload Picture
                    <small> ( <span ng-repeat="ft in $root.filetypelist">{{ft.file_type_name}}{{$last ? '' : ', '}}</span><span> / Maksimal : {{$root.ukuranfile}} KB</span> ) </small>
                    </label>
                    <input class="form-control input-sm upload-file" data-max-size="{{$root.filemaksimal}}"  type="file" onchange="angular.element(this).scope().filesTChanged(this)">
                </div>
            </div>
            <div class="col-md-2" ng-if="berita.id_news > 0 && !(berita.picture_news ==='')">
                <div class="form-group">
                    <label>Preview Picture</label>
                    <a href="{{berita.picture_news}}" target="_blank" 
                            class="form-control btn btn-sm btn-primary btn-flat pull-left"><i class="fa fa-download"></i> Preview</a>
                </div>                    
            </div>
        </div>
        -->
    </div> 
    <div class="modal-footer">
		<button type="button" class="btn btn-success" ng-click="simpan()"><i class="fa fa-save"></i> Simpan</button>
        <button type="button" class="btn btn-danger" ng-click="batal()"><i class="fa fa-reply"></i> Kembali</button>
       
    </div>
</div>
</script>

<script type="text/ng-template" id="delModalBerita.html">
<div class="model-content">
    <div class="modal-header">
        <h3 class="box-title text-center">Yakin hapus berita ini ?</h3>
    </div>
    <div class="modal-body text-center well">
        {{title_news}}
    </div>    
    <div class="modal-footer">
		<button type="button" class="btn  btn-success" ng-click="delBerita()"><i class= "fa fa-save"> Hapus</i></button>
        <button type="button" class="btn  btn-danger" ng-click="cancel()"><i class= "fa fa-reply"> Kembali</i></button>
        
    <div>
</div>
</script>