<section class="content" ng-init="init()" >
<ol class="breadcrumb">
    <li><a href="#/homeadmin"><i class="fa fa-home"></i> Beranda</a></li>
    <!-- <li><a>Parkir</a></li> -->
    <li><a class="active">NPWPD Online</a></li>
    <!-- <li><a class="active" ng-if="$root.idModule==2">SPTPD Online</a></li>
    <li><a class="active" ng-if="$root.idModule==3">SSPD Online</a></li> -->
</ol>
<div class="row"> <!--  style="padding-top: 25px;" -->
    <div class="col-md-12 center-block" style="float: none!important;">
        <div class="box">
            <div class="box-body">
                <div class="row" style="margin-bottom: 25px">
                    <div class="col-md-7">
                        <h3 class="afta-font judul-datatabel" style="font-style: italic;margin: 0px" ><strong>Approval NPWPD Online</strong></h3>
                        <span style="font-size: 19px">Data Pajak</span>
                    </div>                    
                </div>

				<div class="row">
                    <div class="col-md-12">
                        <form method="post" role="form" ng-submit="cariData()" >
                        <div class="input-group">
                           <input type="text" class="form-control" placeholder="Cari Data" ng-model="kata" ng-model-options="{ debounce: 500 }" ng-change="cariData()" >
                            <span class="input-group-btn">
                                <button  type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="cariData()">
                                    <i class="fa fa-search"></i>&nbsp; Cari</button>
                            </span>
                        </div>
                        </form>
                    </div>
					<!-- <div class="col-md-2">
                        <button type="button" style="float:right!important" class="btn btn-flat btn-primary" ng-click="tambah()">
                            <i class='fa fa-plus'></i>&nbsp; Pengajuan NPWPD
                        </button>
                    </div> -->
					
                </div>
				<br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table table-responsive dragscroll long-table">
                            <table class="table table-bordered table-striped table-condensed text-nowrap">
                                <thead style="background: #298ae7;color: white;">
                                    <tr>
                                        <!-- <th class="text-center" style="vertical-align: middle; width: 20px;">#</th> -->
                                        <th class="text-center" style="vertical-align: middle; width: 20px;">No</th>
                                        <th class="text-center" style="vertical-align: middle; width: 100px;">Nama OP</th>
                                        <th class="text-center" style="vertical-align: middle;">NPWPD</th>
                                        <th class="text-center" style="vertical-align: middle;">Alamat</th>
                                        <th class="text-center" style="vertical-align: middle;">Status Pengajuan</th>
                                        <th class="text-center" style="width: 220px; vertical-align: middle;">Action</th>
                                    </tr>
                                </thead> 
                                <tbody>	
                                    <tr ng-repeat="n in npwpd" ng-if="npwpd.length!=0">
                                        <!-- <td class="text-center">
                                            <input class="uacheck" type="checkbox" value=""  ng-model="ispermitted">
                                        </td>  -->
                                        <td style="vertical-align: middle;" class="text-center">{{currentPage > 1 ? (maxSize * (currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                        <td style="vertical-align: middle;">{{n.jenis_usaha_pajak}}</td> 

                                        <td style="vertical-align: middle;" ng-if="n.status_pengajuan_npwpd=='Proses Verifikasi'"></td>
                                        <td style="vertical-align: middle;" ng-if="n.status_pengajuan_npwpd=='Verifikasi'">{{n.no_npwpd}}</td>
                                        <td style="vertical-align: middle;" ng-if="n.status_pengajuan_npwpd=='Tolak'"></td>
<!-- 
                                        <td style="vertical-align: middle;">Tes</td> -->
                                        <td style="vertical-align: middle;">{{n.alamat_data_pajak}}</td>
                                        
                                        <td style="vertical-align: middle;" ng-if="n.status_pengajuan_npwpd=='Proses Verifikasi'" class="text-center"><span style="background: #969675;padding: 5px;border-radius: 10px;color: white;">{{n.status_pengajuan_npwpd}}</span></td>
                                        <td style="vertical-align: middle;" ng-if="n.status_pengajuan_npwpd=='Tolak'" class="text-center"><span style="background: #fb0606;padding: 5px;border-radius: 10px;color: white;">{{n.status_pengajuan_npwpd}}</span><br><span>{{n.alasan_tolak_npwpd}}</span></td>
                                        <td style="vertical-align: middle;" ng-if="n.status_pengajuan_npwpd=='Verifikasi'" class="text-center"><span style="background: #e4e49e;padding: 5px;border-radius: 10px;color: black;">{{n.status_pengajuan_npwpd}}</span></td>

                                        <td style="vertical-align: middle;" class="text-center">
                                            <a class="btn btn-flat btn-sm btn-primary" ng-click="view(n)" title="Lihat Data"><i class='fa fa-eye'></i></a>
                                            <a class="btn btn-flat btn-sm btn-success" ng-if="n.status_pengajuan_npwpd!='Verifikasi' && n.status_pengajuan_npwpd!='Tolak'" ng-click="approve(n)" title="Approve Data"><i class='glyphicon glyphicon-ok'></i></a>
                                            <a class="btn btn-flat btn-sm btn-danger" ng-if="n.status_pengajuan_npwpd!='Verifikasi' && n.status_pengajuan_npwpd!='Tolak'" ng-click="reject(n)" title="Approve Data"><i class='glyphicon glyphicon-remove'></i></a>
                                        </td>
                                    </tr>
                                    <tr ng-if="npwpd.length==0">
                                        <td class="text-center" colspan="6">
                                            Tidak Ada Data
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                            
                        </div>
                    </div>
                        <div class="col-md-12"><label><br>Total Data: {{npwpdCount}}</label></div>
                </div>
                <div class="row">
                    <div class="col-sd-4 col-md-7" >
                        <pagination total-items="npwpdCount" page="currentPage" items-per-page="10" 
                            ng-show="npwpdCount > 10" max-size="maxSize" on-select-page="jLoad(page)"></pagination>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" > 
                        <a class="btn btn-flat btn-sm btn-primary"><i class='fa fa-plus'></i></a>&nbsp<label> : Pengajuan NPWPD</label>&nbsp&nbsp
                        <a class="btn btn-flat btn-sm btn-warning"><i class='fa fa-edit'></i></a>&nbsp<label> : Ubah NPWPD</label>&nbsp&nbsp
                        <a class="btn btn-flat btn-sm btn-danger"><i class='fa fa-trash-o'></i></a>&nbsp<label> : Hapus NPWPD</label>&nbsp&nbsp
                        <a class="btn btn-flat btn-sm btn-primary"><i class='fa fa-eye'></i></a>&nbsp<label> : Lihat Data</label>&nbsp&nbsp
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
