<div  ng-init="load()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> Beranda</a></li>
            <!-- <li><a>Data Master</a></li> -->
            <li><a class="active">Form Pendataan Pajak</a></li>
        </ol>
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12" style="font-size: 20px; text-align: center;margin-bottom: 25px;">
                                <label style="box-shadow: 0px 4px 0px var(--box-shadow-color);
                                --box-shadow-color: #67b7dc;">FORM PENDATAAN PAJAK</label>
                            </div>
                        </div>       
                        <div class="row well" style="margin-bottom: 20px">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <label>Jenis Badan Usaha</label>
                                            </div>
                                            <div class="col-md-6">
                                                <span>: {{DataTab.bidang_usaha_pajak}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <label>Jenis Bidang Usaha</label>
                                            </div>
                                            <div class="col-md-6">
                                                <span>: {{DataTab.jenis_usaha_pajak}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <label >Tanggal Pengajuan </label>
                                    </div>   
                                    <div class="col-md-6">
                                        <div class="input-group" align="center">
                                            : {{dateFormat(DataTab.create_date)}}
                                        </div>
                                    </div>     
                                    
                                </div>
                            </div>                                                
                        </div>             
                        <div class="row">
                            <div class="col-md-12" style="background: #1b6984;font-size: 15px;color: white;     border-top-left-radius: 16px;border-bottom-right-radius: 16px;">
                                <label>DATA PEMOHON</label>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label>Jenis Bidang Usaha</label>
                                        </div>
                                        <div class="col-md-4">
                                            <span>Bu</span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-md-12" style="margin-top: 10px">
                                    <div class="col-md-12">
                                        <div class="form-group" style="box-shadow: 0px 2px 0px var(--box-shadow-color);
                                        --box-shadow-color: #67b7dc;">
                                            <label>IDENTITAS PEMOHON</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Nama Pemilik</label>
                                            <input type="text" class="form-control input-sm" ng-model="tab1.nama" value="{{DataTab.pemilik_user_pajak}}" placeholder="nama" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Kewarganegaraan</label>
                                            <input type="text" class="form-control input-sm" ng-model="tab1.kewarganegaraan" value="{{DataTab.warga_negara_user_pajak}}" placeholder="Kewarganegaraan" disabled/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" class="form-control input-sm" ng-model="tab1.email" value="{{DataTab.email_user_pajak}}" placeholder="Email" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Telepon</label>
                                            <input type="text" class="form-control input-sm" ng-model="tab1.no_telp" placeholder="No Telp" value="{{DataTab.telp_user_pajak}}" onkeypress="return isNumberKey(event)" disabled/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Alamat</label>
                                            <textarea type="text" class="form-control input-sm" ng-model="tab1.alamat" placeholder="Alamat" value="{{DataTab.alamat_user_pajak}}" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Type Identitas {{DataTab.tipe_identitas_user_pajak}}</label>
                                            <input type="text" class="form-control input-sm" ng-model="tab1.nik" placeholder="Nomor Identitas Pemilik" onkeypress="return isNumberKey(event)" value="{{DataTab.no_identitas_user_pajak}}" disabled/>
                                           <a href="{{$root.url_image+DataTab.bukti_identitas_user_pajak}}" target="_blank" style="float: right;">Download File</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" style="background: #1b6984;font-size: 15px;color: white;     border-top-left-radius: 16px;border-bottom-right-radius: 16px;">
                                <label>DATA USAHA</label>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="margin-top: 10px">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Nama Badan Usaha</label>
                                            <input type="text" class="form-control input-sm" ng-model="tab2.nama_badan_usaha" placeholder="Nama Badan Usaha" value="{{DataTab.nama_usaha_data_pajak}}" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Alamat Usaha</label>
                                            <input type="text" class="form-control input-sm" ng-model="tab2.alamat_usaha" value="{{DataTab.alamat_data_pajak}}" disabled placeholder="Alamat Usaha" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>RT / RW Usaha</label>
                                            <input type="text" class="form-control input-sm" ng-model="tab2.rt" placeholder="RT / RW Usaha" value="{{DataTab.rt_rw_data_pajak}}" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Kelurahan Usaha</label>
                                            <input type="text" class="form-control input-sm" ng-model="tab2.kelurahan_usaha" placeholder="kelurahan Usaha" value="{{DataTab.kelurahan_data_pajak}}" disabled/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Kecamatan Usaha</label>
                                            <input type="text" class="form-control input-sm" ng-model="tab2.kecamatan" placeholder="Kecamatan Usaha" value="{{DataTab.kecamatan_data_pajak}}" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Kabupaten Usaha</label>
                                            <input type="text" class="form-control input-sm" ng-model="tab2.kabupaten_usaha" placeholder="Kabupaten Usaha" value="{{DataTab.kabupaten_data_pajak}}" disabled/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email Usaha</label>
                                            <input type="text" class="form-control input-sm" ng-model="tab2.email_usaha" placeholder="Email Usaha" value="{{DataTab.email_data_pajak}}" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Kode Pos Usaha</label>
                                            <input type="text" class="form-control input-sm" ng-model="tab2.kode_pos" placeholder="Kode Pos Usaha" onkeypress="return isNumberKey(event)" value="{{DataTab.kode_pos_data_pajak}}" disabled/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Telephone Usaha</label>
                                            <input type="text" class="form-control input-sm" ng-model="tab2.telp_usaha" placeholder="Telephone Usaha" onkeypress="return isNumberKey(event)" value="{{DataTab.telp_data_pajak}}" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Fax Usaha</label>
                                            <input type="text" class="form-control input-sm" ng-model="tab2.fax_usaha" placeholder="Fax Usaha" onkeypress="return isNumberKey(event)" value="{{DataTab.fax_data_pajak}}" disabled/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <a href="{{$root.url_image+DataTab.bukti_akta_data_pajak}}" target="_blank" style="width: 100%;" class="btn btn-flat btn-success"><i class="glyphicon glyphicon-open"></i> Fotocopy Akte Pendirian Perusahaan</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="{{$root.url_image+DataTab.bukti_sewa_data_pajak}}" target="_blank" style="width: 100%;" class="btn btn-flat btn-success"><i class="glyphicon glyphicon-open"></i> Foto Surat Perjanjian Kontrak dan Sewa</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="{{$root.url_image+DataTab.bukti_sertifikat_data_pajak}}" target="_blank" style="width: 100%;" class="btn btn-flat btn-success"><i class="glyphicon glyphicon-open"></i> Fotocopy Sertifikat</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" style="background: #1b6984;font-size: 15px;color: white;     border-top-left-radius: 16px;border-bottom-right-radius: 16px;">
                                <label>DETAIL USAHA</label>
                            </div>
                            <div class="row" >
                                <div class="col-md-12" style="margin-top: 20px">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>No PBB </label>
                                            <input type="text" class="form-control input-sm" ng-model="tab3.no_pbb"onkeypress="return isNumberKey(event)" value="{{DataTab.no_pbb_data_pajak}}" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for=""></label>
                                            <a href="{{$root.url_image+DataTab.bukti_pelunasan_pbb_data_pajak}}" target="_blank" class="btn btn-flat btn-success" style="width: 100%"><i class="glyphicon glyphicon-open"></i> SPPT Pelunasan PBB Terakhir</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="form-group" style="box-shadow: 0px 2px 0px var(--box-shadow-color);
                                        --box-shadow-color: #67b7dc;">
                                            <label>IZIN USAHA</label>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>No Izin Usaha</label>
                                            <input type="text" class="form-control input-sm" ng-model="tab3.no_izin_usaha" placeholder="No Izin Usaha" onkeypress="return isNumberKey(event)" value="{{DataTab.no_izin_data_pajak}}" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Nama Izin Usaha</label>
                                            <input type="text" class="form-control input-sm" ng-model="tab3.nama_izin_usaha" placeholder="Nama Izin Usaha" value="{{DataTab.nama_izin_data_pajak}}" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Tanggal Perkiraan Selesai</label>
                                            <div class="input-group" align="center">
                                                <input class="form-control" size="16" required="true"  type="text" value="{{DataTab.tanggal_perkiraan_usaha}}" disabled ng-model="tab3.datePerkiraan" ambiltanggalfix>
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <a href="{{$root.url_image+DataTab.foto_depan_data_pajak}}" target="_blank" style="width: 100%;font-size: 12px" class="btn btn-flat btn-success"><i class="glyphicon glyphicon-open"></i> Foto Lokasi Usaha Tampak Depan</a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="{{$root.url_image+DataTab.denah_data_pajak}}" target="_blank" style="width: 100%;font-size: 12px" class="btn btn-flat btn-success"><i class="glyphicon glyphicon-open"></i> Denah Lokasi / Tempat Usaha</a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="{{$root.url_image+DataTab.brosur_data_pajak}}" target="_blank" style="width: 100%;font-size: 12px" class="btn btn-flat btn-success"><i class="glyphicon glyphicon-open"></i> Brosur Perusahaan</a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="{{$root.url_image+DataTab.rekap_data_pajak}}" target="_blank" style="width: 100%;font-size: 12px" class="btn btn-flat btn-success"><i class="glyphicon glyphicon-open"></i> Rekap Penjualan Dalam 1 Bulan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- <div class="row">
                            <div class="col-md-12" style="background: #1b6984;font-size: 15px;color: white;border-top-left-radius: 16px;border-bottom-right-radius: 16px;">
                                <label>FASILITAS PENDUKUNG</label>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-md-12" style="text-align: center">
                                <button class="btn btn-flat btn-sm btn-primary" ng-click="backList()"><i class="fa fa-reply"></i> Kembali</button>
                                <button class="btn btn-flat btn-sm btn-success" ng-click="approve()" title="Approve Data"> <i class='glyphicon glyphicon-ok'></i> Approve</button>
                                <button class="btn btn-flat btn-sm btn-danger" ng-click="reject()" title="Approve Data"><i class='glyphicon glyphicon-remove'></i> Reject</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
      function isNumberKey(evt){
        var charCode = (evt.which)?evt.which:evt.keyCode;        
        if((charCode >= 48 && charCode <=57) && charCode!=22)
            return true;

            return false;
    }

    function openTab(evt, paramForm) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(paramForm).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>