<style>
.login-background{
    background-image: url('assets/rekanan/image/slider/background-login.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.panel-login{
    width: 400px;
    margin-top: 22px;
    /* margin-bottom: 100px; */
    /* margin-left: 10%;
    margin-right: 10%; */
}
</style>
<div ng-init="init()" class="container-fluid login-background">
    <div class="col-md-12">
        <div id="loginbox" class="mainbox" style="display: flex;justify-content: center;">
            <div class="panel panel-info panel-login">
                <img src="assets/rekanan/image/logos.png" style="width: 255px;" class="img-responsive center-block" style="padding-bottom: 10px;" />
                <!-- <div class="text-center">
                    <h4 class="afta-font text-center" style="color: #000;">Fatayat NU Jatim</h4>
                </div> -->
                <div class="panel-heading" style="color: #000!important; background-color: #ffffff!important;">
                    <div class="panel-title text-center" style="font-family:sans-serif!important;">
                        <i class="fa fa-users"></i>&nbsp; Login sebagai anggota</div>
                </div>
                <div style="padding-top:30px" class="panel-body">
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                    <div class="row" ng-show="showMsg">
                        <div class="col-md-12">
                            <div class="alert alert-warning alert-dismissable">
                                <i class="fa fa-warning"></i>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <b>Attention!</b> {{failedMsg}}
                            </div>
                        </div>
                    </div>
                    <form id="loginform" class="form-horizontal">
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input id="login-username" ng-model="username" type="text" class="form-control" name="username" value="" placeholder="Nomor KTP"
                                ng-keypress="submitCaptcha($event)">
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input id="login-password" ng-model="password" type="password" class="form-control" name="password" placeholder="Password"
                                ng-keypress="submitCaptcha($event)">
                        </div>
                        <div class="form-inline" style="margin-bottom: -5px;">
                            <div class="text-center">
                                <canvas id='textCanvas' ng-show="false" height=20></canvas>
                                <img id='image' height="40">
                                <button class="btn btn-primary" ng-click="Captcha()" style="margin-bottom: 10px;margin-left: 10px;background: #1a7cc2;">
                                    <i class="fa fa-refresh" />
                                </button>
                            </div>
                        </div>
                        <div class="form-inline" style="margin-bottom: 20px;">
                            <div class="text-center">
                                <input class="form-control" type="text" autocomplete="off" id="txtInput" translate-attr="{placeholder:'captcha'}" / ng-keypress="submitCaptcha($event)">
                                <!-- Input The Code Above -->
                            </div>
                        </div>
                        <div style="margin-top:10px;" class="form-group">
                            <div class="col-sm-12 controls">
                                <div class="text-center">
                                    <button id="btnSubmit" class="btn btn-success" name="submit" value="submit" ng-click="login()">
                                        <i class="fa fa-key"></i> {{'logins' | translate}}</button>
                                    <br/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12" style="font-size: 80%;">
                                <div class="text-center">
                                    <!-- <a ui-sref="lupa-password-rekanan">{{'forgot' | translate}}</a> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>