<div  ng-init="load()">
        <section class="content">
            <ol class="breadcrumb">
                <li><a href="#/homeadmin"><i class="fa fa-home"></i> Beranda</a></li>
                <!-- <li><a>Data Master</a></li> -->
                <li><a class="active">Pengajuan SPTPD</a></li>
            </ol>
            <div class="row">
                <div class="col-md-12 center-block" style="float: none!important;">
                    <div class="box">
                        <div class="box-body">
                            <div class="row" style="margin-bottom: 25px">
                                <div class="col-md-7">
                                    <h3 class="afta-font judul-datatabel" style="font-style: italic;margin: 0px" ><strong>SPTPD Bulanan Online</strong></h3>
                                    <span style="font-size: 19px">Data Pajak</span>
                                </div>                    
                            </div>

                            <div class="row">

                                <div class="col-md-6" style="float: right">
                                    <div class="col-md-5">
                                        <label style="float: right">Pilih Bulan</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select ng-model="sptpd.periode" class="form-control" style="margin-bottom: 0px;" ng-change="pilihBulan(sptpd.periode)">
                                                <option value="">--Pilih Periode--</option>
                                                <option ng-repeat="a in dataBulan" value="{{a.bulan}}">{{a.bulan}}</option>
                                            </select>
                                    </div>
                                    
                                </div>
                            </div>
                            <tabset>
                                <tab>
                                  <tab-heading>Step 1<br>Pilih Prosentase Pajak</tab-heading> 
                                  <div class="col-md-12">
                                        <div class="row" style="margin-top: 10px">
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label>NOP</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" disabled ng-model="data_npwpd.nop" >
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="row" style="margin-top: 10px">
                                          <div class="form-group">
                                                <div class="col-md-3">
                                                    <label>Nama OP</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" disabled ng-model="data_npwpd.nama" >
                                                </div>
                                          </div>                                            
                                        </div>
                                        <div class="row" style="margin-top: 10px">
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label>Alamat OP</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" disabled ng-model="data_npwpd.alamat" >
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="row" style="margin-top: 10px">
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label>Prosentase</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <select ng-model="sptpd.prosentase" class="form-control" ng-change="pilihProsentase(sptpd.prosentase)" style="margin-bottom: 0px;">
                                                        <option value="">--Pilih Prosentase--</option>
                                                        <option value="10">10%</option>
                                                        <option value="15">15%</option>
                                                        <option value="20">20%</option>
                                                        <option value="25">25%</option>
                                                    </select>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="row" style="margin-top: 10px">
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label>Omset Pajak</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" ng-change="hitung()" class="form-control"  ng-model="sptpd.omset" onkeypress="return isNumberKey(event)">
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="row" style="margin-top: 10px">
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label>Pajak Terutang</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" disabled ng-model="sptpd.pajak_terutang" >
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="row" style="margin-top: 10px">
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label>Keterangan</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" ng-model="sptpd.keterangan" ></textarea> 
                                                </div>
                                            </div>                                                   
                                        </div>
                                        <div class="row" style="text-align: center;margin-top: 20px">
                                            <button  type="button" ng-click="backList()" class="btn btn-flat btn-warning">  <i class="glyphicon glyphicon-circle-arrow-left"></i> Back</button>
                                            <button  type="button" class="btn btn-flat btn-success">Next <i class="glyphicon glyphicon-circle-arrow-right"></i></button>
                                        </div>
                                  </div> 
                                </tab>
                                <tab>
                                    <tab-heading>Step 2<br>Upload file (.xls)</tab-heading> 
                                    <div class="col-md-6" style="margin-top: 10px">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label>Upload SPTD
                                                        <small> ( <span ng-repeat="ft in $root.filetypelist">{{ft.file_type_name}}{{$last ? '' : ', '}}</span><span> / Maksimal : {{$root.ukuranfile}} KB</span> ) </small>
                                                    </label>
                                                    <div class="input-group">
                                                        <input id="uploadFile" style="padding-top: 5px!important;" type="file" onchange="angular.element(this).scope().fileMChanged(this)" class="form-control input-sm upload-file" data-max-size="{{$root.filemaksimal}}" />
                                                        <span class="input-group-btn">
                                                            <button type="button" ng-click="uploads1()" class="btn btn-sm btn-flat btn-success"><i class="fa fa-upload"></i> &nbsp; Upload</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="padding-bottom: 20px;" ng-show="filesToUpload1.length > 0">
                                                <div class="col-sm-12 center-block" style="float: none!important;">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center">Nama File</th>
                                                                    <th class="text-center" style="width: 180px; min-width: 180px;">Ukuran File</th>
                                                                    <th class="text-center" style="width: 120px; min-width: 100px;"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="fl in filesToUpload1">
                                                                    <td style="word-wrap: break-word!important;">{{fl.fileName}}</td>
                                                                    <td class="text-center" style="word-wrap: break-word!important;">{{fl.fileSize}} KB</td>
                                                                    <td class="text-center" style="word-wrap: break-word!important;">
                                                                        <button class="btn btn-xs red center-block" ng-click="removeFile1(fl.fileName)" >
                                                                            Hapus <i class="fa fa-minus-circle"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-md-6" style="margin-top: 10px">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label>Upload Lampiran
                                                        <small> ( <span ng-repeat="ft in $root.filetypelist">{{ft.file_type_name}}{{$last ? '' : ', '}}</span><span> / Maksimal : {{$root.ukuranfile}} KB</span> ) </small>
                                                    </label>
                                                    <div class="input-group">
                                                        <input id="uploadFile" style="padding-top: 5px!important;" type="file" onchange="angular.element(this).scope().fileMChanged1(this)" class="form-control input-sm upload-files" data-max-size="{{$root.filemaksimal}}" />
                                                        <span class="input-group-btn">
                                                            <button type="button" ng-click="uploads2()" class="btn btn-sm btn-flat btn-success"><i class="fa fa-upload"></i> &nbsp; Upload</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="row" style="padding-bottom: 20px;" ng-show="filesToUpload2.length > 0">
                                                    <div class="col-md-12 center-block" style="float: none!important;">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center">Nama File</th>
                                                                        <th class="text-center" style="width: 180px; min-width: 180px;">Ukuran File</th>
                                                                        <th class="text-center" style="width: 120px; min-width: 100px;"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="fl in filesToUpload2">
                                                                        <td style="word-wrap: break-word!important;">{{fl.fileName}}</td>
                                                                        <td class="text-center" style="word-wrap: break-word!important;">{{fl.fileSize}} KB</td>
                                                                        <td class="text-center" style="word-wrap: break-word!important;">
                                                                            <button class="btn btn-xs red center-block" ng-click="removeFile2(fl.fileName)" >
                                                                                Hapus <i class="fa fa-minus-circle"></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row" style="text-align: center;margin-top: 20px">
                                            <button  type="button"  class="btn btn-flat btn-warning"> <i class="glyphicon glyphicon-circle-arrow-left"></i> Kembali</button>
                                            <button  type="button" ng-click="simpanSptpdBulanan('Bulanan')"  class="btn btn-flat btn-success"> <i class="fa fa-save"></i> Simpan</button>
                                        </div>
                                    </div>
                                    
                                </tab>
                            </tabset>
                            
                            
                            <div class="row">
                                    <!-- <div class="col-md-12" >
                                        <div class="form-group" style="float: right">
                                            <button  type="button" class="btn btn-flat btn-success">
                                            <i class="fa fa-save"></i>&nbsp; Simpan</button>
                                            <button  type="button" class="btn btn-flat btn-danger" ng-click="back()"><i class="fa fa-reply"></i>&nbsp; Kembali</button>
                                        </div>
                                    </div> -->
                                </div>
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <script type="text/javascript">
          function isNumberKey(evt){
            var charCode = (evt.which)?evt.which:evt.keyCode;        
            if((charCode >= 48 && charCode <=57) && charCode!=22)
                return true;
    
                return false;
        }
    
        function openTab(evt, paramForm) {
            // Declare all variables
            var i, tabcontent, tablinks;
    
            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
    
            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
    
            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(paramForm).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>