<div  ng-init="load()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> Beranda</a></li>
            <!-- <li><a>Data Master</a></li> -->
            <li><a class="active">Pengajuan SPTPD</a></li>
        </ol>
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box">
                    <div class="box-body">
                        <div class="row" style="margin-bottom: 25px">
                            <div class="col-md-7">
                                <h3 class="afta-font judul-datatabel" style="font-style: italic;margin: 0px" ><strong>SPTPD Online</strong></h3>
                                <span style="font-size: 19px">Data Pajak {{jenis_pajak}}</span>
                            </div>                    
                        </div>
        
                        <div class="row">                            
                            <div class="col-md-9">
                                <form method="post" role="form" ng-submit="cariData()" style="display: none">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Cari Data" ng-model="kata" ng-model-options="{ debounce: 500 }" ng-change="cariData()" >
                                    <span class="input-group-btn">
                                        <button  type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="cariData()">
                                            <i class="fa fa-search"></i>&nbsp; Cari</button>
                                    </span>
                                </div>
                                </form>
                            </div>
                            <div class="col-md-3" >
                                <div class="form-group" style="float: right">
                                    <button  type="button" class="btn btn-flat btn-success" ng-click="pilih()"><i class="fa fa-plus"></i>&nbsp; Pengajuan</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive dragscroll long-table">
                                    <table class="table table-bordered table-striped table-condensed text-nowrap">
                                        <thead style="background: #298ae7;color: white;">
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle; width: 20px;">#</th>
                                                <th class="text-center" style="vertical-align: middle; width: 20px;">No</th>
                                                <th class="text-center" style="vertical-align: middle; width: 100px;">Nama OP</th>
                                                <th class="text-center" style="vertical-align: middle;">NPWPD</th>
                                                <th class="text-center" style="vertical-align: middle;">Jenis Input Pajak</th>
                                                <!-- <th class="text-center" style="vertical-align: middle;">SPTPD</th> -->
                                                <th class="text-center" style="vertical-align: middle;">Omset Dasar SPTPD</th>
                                                <th class="text-center" style="vertical-align: middle;">Total SPTPD</th>
                                                <th class="text-center" style="vertical-align: middle;">Status</th>
                                                <th class="text-center" style="width: 100px; vertical-align: middle;">Action</th>
                                            </tr>
                                        </thead> 
                                        <tbody>	
                                            <tr ng-repeat="n in sptpdList" ng-if="sptpdList.length!=0">
                                                <td class="text-center" style="vertical-align: middle">
                                                    <input ng-if="n.status=='Draft'" class="uacheck" type="checkbox" id="selectCheck" ng-checked="n.flag==2 && n.status=='Draft'" ng-model="checkSptpd" ng-click="pilihValidSptpd(n)">
                                                </td> 
                                                <td style="vertical-align: middle;" class="text-center">{{currentPage > 1 ? (maxSize * (currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                <td style="vertical-align: middle;">{{jenis_pajak}}</td> 
                                                <td style="vertical-align: middle;text-align: center">{{n.no_npwpd}}</td>
                                                <td style="vertical-align: middle;" ng-if="n.is_bulanan_sptpd==1">Harian - ({{n.tanggal_detil_sptpd}}/{{n.bulan_detil_sptpd}}/{{n.tahun_detil_sptpd}})</td>
                                                <td style="vertical-align: middle;" ng-if="n.is_bulanan_sptpd==2">Bulanan - ({{n.bulan_detil_sptpd}}/{{n.tahun_detil_sptpd}})</td>
                                                <!-- <td style="vertical-align: middle;text-align: center" ng-if="n.status_sptpd!='Proses Verifikasi' && n.status_sptpd!='Draft' && n.status_sptpd!='Reject'">{{n.no_sptpd}}</td> 
                                                <td style="vertical-align: middle;" ng-if="n.status_sptpd=='Proses Verifikasi' || n.status_sptpd=='Draft' || n.status_sptpd=='Reject'"></td> -->

                                                <td style="vertical-align: middle;text-align: right">{{n.omset_detil_sptpd | currency}}</td>
                                                <td style="vertical-align: middle;text-align: right">{{n.pajak_terutang | currency}}</td>

                                                <td style="vertical-align: middle;" class="text-center">
                                                    <span ng-if="n.status=='Draft'"  style="background: #969675;padding: 5px;border-radius: 10px;color: white;">{{n.status}}</span>
                                                    <span ng-if="n.status=='Proses Verifikasi'" style="background: #f0b55d;padding: 5px;border-radius: 10px;color: white;">{{n.status}}</span>
                                                </td>
                                                <td style="vertical-align: middle;" class="text-center">
                                                    <button ng-disabled="n.id_sptpd==null" class="btn btn-flat btn-sm btn-primary" ng-click="lihat(n)" title="Lihat SPTPD">
                                                        <i class='fa fa-eye'></i></button>
                                                    <button ng-if="n.status=='Draft'" class="btn btn-flat btn-sm btn-danger" ng-click="hapusSptpd(n)" ng-disabled="n.status_sptpd=='Verifikasi'"  title="Hapus SPTPD">
                                                            <i class='fa fa-trash'></i></button>
                                                </td>
                                            </tr>
                                            <tr ng-if="sptpdList.length==0">
                                                <td class="text-center"  colspan="10">
                                                    Tidak Ada Data
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>                            
                                </div>
                            </div>
                                <div class="col-md-12"><label><br>Total Data: {{sptpdList.length}}</label></div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" >
                                <div class="form-group" style="float: right">
                                    <!-- <button  type="button" class="btn btn-flat btn-success">
                                    <i class="glyphicon glyphicon-print" ng-click="selesai()"></i>&nbsp; Selesai dan Validasi</button> -->
                                    <button  type="button" class="btn btn-flat btn-success" ng-click="selesaiKirim()"><i class="glyphicon glyphicon-print"></i>&nbsp; Selesai dan Validasi</button>
                                    <button  type="button" class="btn btn-flat btn-danger" ng-click="backPengajuan()"><i class="fa fa-reply"></i>&nbsp; Kembali</button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12" > 
                                <a class="btn btn-flat btn-sm btn-success"><i class='fa fa-plus'></i></a>&nbsp<label> : Pengajuan SPTPD</label>&nbsp&nbsp
                                <a class="btn btn-flat btn-sm btn-warning"><i class='fa fa-edit'></i></a>&nbsp<label> : Ubah SPTPD</label>&nbsp&nbsp
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
      function isNumberKey(evt){
        var charCode = (evt.which)?evt.which:evt.keyCode;        
        if((charCode >= 48 && charCode <=57) && charCode!=22)
            return true;

            return false;
    }

    function openTab(evt, paramForm) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(paramForm).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>