<div  ng-init="load()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> Beranda</a></li>
            <!-- <li><a>Data Master</a></li> -->
            <li><a class="active">Form Pendataan Pajak</a></li>
        </ol>
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box">
                    <div class="box-body">
                        <div class="row" style="background: whitesmoke;padding: 15px;">
                            <div class="col-md-3" style="text-align: center">
                                <img src="../assets/rekanan/image/logos.png" alt="" style="width: 25%">
                            </div>
                            <div class="col-md-6" style="text-align: center;">
                                <div class="row">
                                    <label>PEMERINTAH KABUPATEN RAJA AMPAT</label><br>
                                    <span>BADAN PENGELOLAAN PAJAK DAN RETRIBUSI DAERAH</span><br>
                                    <span>Kompleks Kantor Bupati Waisai Kota</span>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row" style="text-align: center; margin-top: 35px">
                            <div class="col-md-4" style="margin-top: 50px;">
                                <label style="font-size: 20px">ID SPTPD</label><br>
                                Verifikasi
                            </div>
                            <div class="col-md-4" style="margin-top: 50px;">
                                <label style="font-size: 20px">TOTAL</label><br>
                                Verifikasi
                            </div>
                            <div class="col-md-4">
                                <label>Date : 22 Desember 2020</label><br>
                                <img src="../assets/rekanan/image/barcode.PNG" width="24%" alt="">
                            </div>
                        </div>
                        <div class="row" style="padding: 50px">
                            <div class="col-md-12">
                                <label for="">Jatuh Tempo : 22 Desember 2020</label>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr style="background: #1b6984;color: white;">
                                                <th class="text-center" style="width: 100px">NOP</th>
                                                <th class="text-center" style="width: 180px; min-width: 180px;">Nama</th>
                                                <th class="text-center" style="width: 120px; min-width: 100px;">Alamat</th>
                                                <th class="text-center" style="width: 120px; min-width: 100px;">Pokok</th>
                                                <th class="text-center" style="width: 120px; min-width: 100px;">Sanksi</th>
                                                <th class="text-center" style="width: 120px; min-width: 100px;">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align: center">{{DataSptpd.no_npwpd}}</td>
                                                <td>{{DataSptpd.pemilik_user_pajak}}</td>
                                                <td>{{DataSptpd.alamat_data_pajak}}</td>
                                                <td style="text-align: right">{{DataSptpd.omset_dasar_sptpd | currency}}</td>
                                                <td style="text-align: right">0</td>
                                                <td style="text-align: right">{{DataSptpd.total_sptpd | currency}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" style="text-align: right; vertical-align: middle">SUBTOTAL</td>
                                                <td style="vertical-align: middle; text-align: right">Rp. {{DataSptpd.total_sptpd | currency}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    *POKOK : Rp. {{DataSptpd.total_sptpd | currency}}<br>
                                                    *SANKSI : -

                                                </td>
                                                
                                                <td colspan="2" style="text-align: right;vertical-align: middle">TOTAL DUE</td>
                                                <td style="vertical-align: middle;text-align: right">Rp. {{DataSptpd.total_sptpd | currency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="padding: 15px;margin-left: 50px;">
                                <label>ID BAYAR BANK</label><br>
                                <span>BNI : 22132000013</span><br>
                                <span>MANDIRI : 43540000543</span>
                            </div>
                        </div>
                        <div class="row" style="background: aqua;padding: 15px;">
                            <div class="col-md-12">
                                <label>Terms & Conditions / Note :</label><br>
                                <span>1. Untuk kemudahan bawalah bukti / cetakan ini untuk melakukan pembayaran di Dinas/UPTD/Bank/ATM</span><br>
                                <span>2. Pembayaran melalui ATM dapat dilakukan sebelum jatuh tempo
                                pembayaran di Dinas/UPTD/Bank/ATM</span><br>
                                <span>3. Apabila telah lewat jatuh tempo, Pembayaran hanya dapat dilakukan di kantor DPPK atau UPTD terdekat dan dikenakan sanksi</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" style="text-align: center;margin-top: 20px">
                                <button type="button" ng-click="goBack()" class="btn btn-sm btn-flat btn-danger"><i class="fa fa-reply"></i> &nbsp; Kembali</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
      function isNumberKey(evt){
        var charCode = (evt.which)?evt.which:evt.keyCode;        
        if((charCode >= 48 && charCode <=57) && charCode!=22)
            return true;

            return false;
    }

    function openTab(evt, paramForm) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(paramForm).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>