<ol class="breadcrumb">
    <li ng-repeat="crumb in $root.breadcrumb"><a ng-class="{'active': crumb.lastIndex}" ng-href="#/{{crumb.url}}"><i class="fa fa-lg {{crumb.icon}}"></i> {{crumb.label | ucwords}}</a></li>
</ol>