.accordion-button-wrap{
  width: 100%;
  margin: auto;
}
.left{
  width: 90%;
  float: left;
}
.right{
  margin-left: 90%;
}
.accordion-button{
  content: '\02795'; 
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.accordion-button.active{
  content: '\2796';
}
.accordion-panel{
  display: none;
  overflow: hidden;
  padding-left: 25px!important;
}