<section class="content" ng-init="init()">
    <breadcrumbs></breadcrumbs>
    <div class="col-md-9 center-block" style="float: none!important;">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <h3 class="afta-font judul-datatabel">Data Master Hak Akses</h3>
                    </div>
                    <div class="col-md-5 hidden-xs">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="vertical-align: middle;">No</th>
                                        <th class="text-center" style="vertical-align: middle">Nama Hak Akses</th>
                                        <th class="text-center" style="width: 170px; min-width: 170px; vertical-align: middle;"></th>
                                    </tr>
                                </thead> 
                                <tbody>	
                                    <tr ng-repeat="role in roles">
                                        <td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
                                        <td class="middle-vertical">{{role.authority}}</td>
                                        <td class="text-center" style="vertical-align: middle;">
                                            <!-- <a class="btn btn-flat btn-xs btn-warning" ng-click="viewRoleDetail(role)" title="Detail"><i class="fa fa-external-link"></i>&nbsp; </a> -->
                                            <a class="btn btn-flat btn-xs btn-warning" ng-click="viewRoleDetail(role)" title="Detail"><i class="fa fa-eye"></i>&nbsp; </a>
                                            <a  class="btn btn-flat btn-xs btn-primary" ng-click="ubahRoleDetail(role)" title="Ubah"><i class="fa fa-edit"></i>&nbsp; </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-top: 15px;">
                        <div class="text-center">
                            <a class="btn btn-flat btn-xs btn-primary" ng-click="tambahRole()"><i class="fa fa-plus-circle"></i>&nbsp; Tambah Hak Akses</a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!-- <a class="btn btn-flat btn-xs btn-warning" href="javascript:void(0)"><i class='fa fa-external-link'></i></a>&nbsp<label> : Detail</label>&nbsp&nbsp -->
                        <a class="btn btn-flat btn-xs btn-warning" href="javascript:void(0)"><i class='fa fa-eye'></i></a>&nbsp<label> : Detail</label>&nbsp&nbsp
                        <a class="btn btn-flat btn-xs btn-primary" href="javascript:void(0)"><i class='fa fa-edit'></i></a>&nbsp<label> : Ubah</label>&nbsp&nbsp
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
</section>
<!-- New -->
<script type="text/ng-template" id="ubahRoleDetail.html">
    <div id="divEditRole" class="modal-content" ng-init="init()">
        <div class="modal-header">
            <button ng-click="keluar()" type="button" class="close" ng-click="keluar()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
            <h3 class="modal-title afta-font" id="myModalLabel">Edit Role</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-11 center-block well" style="float: none!important;">
                    <label>Nama Hak Akses</label>
                    <input class="form-control" type="text" ng-model="role.authority" disabled/>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-11 center-block well" style="float: none!important;">
                    <table class="table table-bordered table-striped table-condensed text-nowrap">
                        <thead>
                            <!-- <th class="center-vertical" style="width: 30px;">#</th> -->
                            <th class="center-vertical">Nama Menu</th>
                            <th class="center-vertical">Akses</th>
                            <!-- <th class="center-vertical">Bisa Menambah</th>
                            <th class="center-vertical">Bisa Mengubah</th>
                            <th class="center-vertical">Bisa Menghapus</th> -->
                        </thead> 
                        <tbody ng-repeat="ac in accessrole">	
                            <tr>
                                <!-- <td class="text-center">{{$index+1}} </td> -->
                                <td><label>{{ac.menu_name}}</label></td>
                                <td class="text-center">
                                    <input class="uacheck" type="checkbox" value={{ac.menu_id}} ng-checked="{{ac.ispermitted}}" ng-model="ac.ispermitted" ng-change="toogleCheckChild(ac)">
                                </td>                                
                            </tr>
                            <tr ng-repeat="ac2 in ac.childs">
                                <!-- <td class="text-center">{{$index+1}}</td> -->
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ac2.menu_name}}</td>
                                <td class="text-center">
                                    <input class="uacheck" type="checkbox" value={{ac2.page_id}} ng-checked="{{ac2.ispermitted}}" ng-model="ac2.ispermitted" ng-change="toogleCheckChild(ac2,ac3)">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-primary" ng-click="keluar()"><i class="fa fa-arrow-left"></i>&nbsp;Kembali</button>
            <button type="button" class="btn btn-flat btn-success" ng-click="updateRoleDetail()"><i class="fa fa-save"></i>&nbsp;Simpan</button>
        </div>
    </div>
</script>
<!-- Original -->
<script type="text/ng-template" id="ubahRoleDetails.html">
    <div id="divEditRole" class="modal-content" ng-init="init()">
        <div class="modal-header">
            <button ng-click="keluar()" type="button" class="close" ng-click="keluar()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
            <h3 class="modal-title afta-font" id="myModalLabel">Edit Role</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-5 center-block well" style="float: none!important;">
                    <label>Nama Hak Akses</label>
                    <input class="form-control" type="text" ng-model="role.authority" disabled/>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-5 center-block well" style="float: none!important;">
                    <label>Jenis Role</label>
                    <select ng-required="true" ng-model="jenisRole" ng-change="ubahJenisRole(jenisRole)" class="form-control">
                        <option value=USER>Role Untuk User</option>
                        <option value=KEPANITIAAN>Role untuk Kepanitiaan</option>
                    </select>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-5 center-block well" style="float: none!important;">
                    <table class="center-block" cellspacing="5">
                        <tr >
                            <td style="width: 350px!important;text-align: left;">
                                <ul style="padding-left: 20px;">
                                    <li ng-repeat="ac in accessrole" class="accordion" style="padding-top: 10px;">
                                        <div class="accordion-button-wrap">
                                            <div class="left">
                                                <input class="uacheck" type="checkbox" value={{ac.menu_id}} ng-checked="ac.ispermitted" ng-model="ac.ispermitted" ng-change="toogleCheckChild(ac)">{{ac.menu_name}}
                                            </div>
                                            <div class="right">
                                                <button ng-if="ac.childs.length > 0" class="accordion-button" ng-click="showChild($event)">+</button>                                        
                                            </div>
                                        </div>                                        
                                        <br/>
                                        <span ng-if="ac.ada_sub_pengecekan == true">
                                            <label>Bisa Mengatur</label>
                                            <select ng-required="true" ng-model="ac.bisa_mengatur" class="form-control" style="max-width: 140px;">
                                                <option value=0>Tidak Bisa</option>
                                                <option value=1>Bisa</option>
                                            </select>
                                        </span>
                                        <span ng-if="ac.ada_sub_pengecekan_bisa_tambah == true">
                                            <label>Bisa Menambah</label>
                                            <select ng-required="true" ng-model="ac.bisa_tambah" class="form-control" style="max-width: 140px;">
                                                <option value=0>Tidak Bisa</option>
                                                <option value=1>Bisa</option>
                                            </select>
                                        </span>
                                        <span ng-if="ac.ada_sub_pengecekan_bisa_ubah == true">
                                            <label>Bisa Mengubah</label>
                                            <select ng-required="true" ng-model="ac.bisa_ubah" class="form-control" style="max-width: 140px;">
                                                <option value=0>Tidak Bisa</option>
                                                <option value=1>Bisa</option>
                                            </select>
                                        </span>
                                        <span ng-if="ac.ada_sub_pengecekan_bisa_hapus == true">
                                            <label>Bisa Menghapus</label>
                                            <select ng-required="true" ng-model="ac.bisa_hapus" class="form-control" style="max-width: 140px;">
                                                <option value=0>Tidak Bisa</option>
                                                <option value=1>Bisa</option>
                                            </select>
                                        </span>
                                        <ul class="accordion-panel" ng-if="ac.childs != null">
                                            <li ng-repeat="ac2 in ac.childs">
                                                <span>
                                                    <input class="uacheck" type="checkbox" value={{ac2.menu_id}}  ng-checked="{{ac2.ispermitted}}" ng-model="ac2.ispermitted" ng-change="unCheckParent(ac,ac2)">                                                    
                                                    <span>
                                                        {{ac2.menu_name}}
                                                        <br/>
                                                        <span ng-if="ac2.ada_sub_pengecekan == true">
                                                            <label>Bisa Mengatur</label>
                                                            <select ng-required="true" ng-model="ac2.bisa_mengatur" class="form-control" style="max-width: 140px;">
                                                                <option value=0>Tidak Bisa</option>
                                                                <option value=1>Bisa</option>
                                                            </select>
                                                        </span>
                                                        <span ng-if="ac2.ada_sub_pengecekan_bisa_tambah == true">
                                                            <label>Bisa Menambah</label>
                                                            <select ng-required="true" ng-model="ac2.bisa_tambah" class="form-control" style="max-width: 140px;">
                                                                <option value=0>Tidak Bisa</option>
                                                                <option value=1>Bisa</option>
                                                            </select>
                                                        </span>
                                                        <span ng-if="ac2.ada_sub_pengecekan_bisa_ubah == true">
                                                            <label>Bisa Mengubah</label>
                                                            <select ng-required="true" ng-model="ac2.bisa_ubah" class="form-control" style="max-width: 140px;">
                                                                <option value=0>Tidak Bisa</option>
                                                                <option value=1>Bisa</option>
                                                            </select>
                                                        </span>
                                                        <span ng-if="ac2.ada_sub_pengecekan_bisa_hapus == true">
                                                            <label>Bisa Menghapus</label>
                                                            <select ng-required="true" ng-model="ac2.bisa_hapus" class="form-control" style="max-width: 140px;">
                                                                <option value=0>Tidak Bisa</option>
                                                                <option value=1>Bisa</option>
                                                            </select>
                                                        </span>
                                                    </span>
                                                </span>
                                                <ul style="padding-left: 25px!important;" ng-if="ac2.childs != null">
                                                    <li ng-repeat="ac3 in ac2.childs">
                                                        <span>
                                                            <input class="uacheck" type="checkbox" value={{ac3.menu_id}} ng-checked="{{ac3.ispermitted}}" ng-model="ac3.ispermitted" ng-change="unCheckChild(ac2,ac3)">
                                                        </span>
                                                        <span>
                                                            {{ac3.menu_name}} GGGG
                                                            <br/>
                                                            <span ng-if="ac3.ada_sub_pengecekan == true">
                                                                <label>Bisa Mengatur</label>
                                                                <select ng-required="true" ng-model="ac3.bisa_mengatur" class="form-control" style="max-width: 140px;">
                                                                    <option value=0>Tidak Bisa</option>
                                                                    <option value=1>Bisa</option>
                                                                </select>
                                                            </span>
                                                            <span ng-if="ac3.ada_sub_pengecekan_bisa_tambah == true">
                                                                <label>Bisa Menambah</label>
                                                                <select ng-required="true" ng-model="ac3.bisa_tambah" class="form-control" style="max-width: 140px;">
                                                                    <option value=0>Tidak Bisa</option>
                                                                    <option value=1>Bisa</option>
                                                                </select>
                                                            </span>
                                                            <span ng-if="ac3.ada_sub_pengecekan_bisa_ubah == true">
                                                                <label>Bisa Mengubah</label>
                                                                <select ng-required="true" ng-model="ac3.bisa_ubah" class="form-control" style="max-width: 140px;">
                                                                    <option value=0>Tidak Bisa</option>
                                                                    <option value=1>Bisa</option>
                                                                </select>
                                                            </span>
                                                            <span ng-if="ac3.ada_sub_pengecekan_bisa_hapus == true">
                                                                <label>Bisa Menghapus</label>
                                                                <select ng-required="true" ng-model="ac3.bisa_hapus" class="form-control" style="max-width: 140px;">
                                                                    <option value=0>Tidak Bisa</option>
                                                                    <option value=1>Bisa</option>
                                                                </select>
                                                            </span>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-primary" ng-click="keluar()"><i class="fa fa-arrow-left"></i>&nbsp;Kembali</button>
            <button type="button" class="btn btn-flat btn-success" ng-click="updateRoleDetail()"><i class="fa fa-save"></i>&nbsp;Simpan</button>
        </div>
    </div>
</script>
<!-- New -->
<script type="text/ng-template" id="tambahRole.html">
    <div class="modal-content" ng-init="init()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="keluar()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
            <h3 class="modal-title afta-font" id="myModalLabel">Tambah Hak Akses</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-11 center-block well" style="float: none!important;">
                    <label>Nama Hak Akses</label>
                    <input class="form-control" ng-model="newRole.authority" type="text" placeholder="Nama Hak Akses"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-11 center-block well" style="float: none!important;">
                    <label>Pilih Menu Hak Akses Yang Di-izinkan : </label>
                    <div class="table table-responsive"></div>
                        <table class="table table-bordered table-striped table-condensed text-nowrap">
                            <thead>
                                <th class="center-vertical" style="width: 15px;">#</th>
                                <th class="center-vertical">Nama Menu</th>
                            </thead> 
                            <tbody ng-repeat="ac in accessrole">	
                                <tr>
                                    <td class="text-center">
                                        <input class="uacheck" type="checkbox" value={{ac.menu_id}} ng-checked="{{ac.ispermitted}}" ng-model="ac.ispermitted" ng-change="toogleCheckChild(ac)">
                                    </td>
                                    <td><label>{{ac.menu_name}}</label></td>
                                    
                                </tr>
                                <tr ng-repeat="ac2 in ac.childs">
                                    <td class="text-center">
                                        <input class="uacheck" type="checkbox" value={{ac2.page_id}} ng-checked="{{ac2.ispermitted}}" ng-model="ac2.ispermitted" ng-change="toogleCheckChild(ac2,ac3)">
                                    </td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ac2.menu_name}}</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-primary" ng-click="keluar()"><i class="fa fa-arrow-left"></i>&nbsp;Keluar</button>
            <button type="button" class="btn btn-flat btn-success" ng-click="addRole()"><i class="fa fa-save"></i>&nbsp;Simpan</button>
        </div>
    </div>
</script>    
<!-- Original -->
<script type="text/ng-template" id="tambahRoles.html">
    <div class="modal-content" ng-init="init()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="keluar()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
            <h3 class="modal-title afta-font" id="myModalLabel">Tambah Hak Akses</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-5 center-block well" style="float: none!important;">
                    <label>Nama Hak Akses</label>
                    <input class="form-control" ng-model="newRole.authority" type="text" placeholder="Nama Hak Akses"/>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-5 center-block well" style="float: none!important;">
                    <label>Jenis Role</label>
                    <select ng-required="true" ng-model="jenisRole" ng-change="ubahJenisRole(jenisRole)" class="form-control">
                        <option value=USER>Role Untuk User</option>
                        <option value=KEPANITIAAN>Role untuk Kepanitiaan</option>
                    </select>
                </div>
            </div> -->

            <div class="row">
                <div class="col-md-5 center-block well" style="float: none!important;">
                    <label>Pilih Menu Hak Akses Yang Di-izinkan : </label>
                    <table class="center-block" cellspacing="5">
                        <tr >
                            <td style="width: 350px!important;text-align: left;">
                                <ul style="padding-left: 20px;">
                                    <li style="padding-top: 10px;" ng-repeat="ac in accessrole">
                                        <span>
                                            <input class="uacheck" type="checkbox" value={{ac.menu_id}} ng-checked="{{ac.ispermitted}}" ng-model="ac.ispermitted" ng-change="toogleCheckChild(ac)">
                                        </span>{{ac.menu_name}}
                                        <br/>
                                        <span ng-if="ac.ada_sub_pengecekan == true">
                                            <label>Bisa Mengatur</label>
                                            <select ng-required="true" ng-model="ac.bisa_mengatur" class="form-control" style="max-width: 140px;">
                                                <option value=0>Tidak Bisa</option>
                                                <option value=1>Bisa</option>
                                            </select>
                                        </span>
                                        <span ng-if="ac.ada_sub_pengecekan_bisa_tambah == true">
                                            <label>Bisa Menambah</label>
                                            <select ng-required="true" ng-model="ac.bisa_tambah" class="form-control" style="max-width: 140px;">
                                                <option value=0>Tidak Bisa</option>
                                                <option value=1>Bisa</option>
                                            </select>
                                        </span>
                                        <span ng-if="ac.ada_sub_pengecekan_bisa_ubah == true">
                                            <label>Bisa Mengubah</label>
                                            <select ng-required="true" ng-model="ac.bisa_ubah" class="form-control" style="max-width: 140px;">
                                                <option value=0>Tidak Bisa</option>
                                                <option value=1>Bisa</option>
                                            </select>
                                        </span>
                                        <span ng-if="ac.ada_sub_pengecekan_bisa_hapus == true">
                                            <label>Bisa Menghapus</label>
                                            <select ng-required="true" ng-model="ac.bisa_hapus" class="form-control" style="max-width: 140px;">
                                                <option value=0>Tidak Bisa</option>
                                                <option value=1>Bisa</option>
                                            </select>
                                        </span>
                                        <ul style="padding-left: 25px!important;" ng-if="ac.childs != null">
                                            <li ng-repeat="ac2 in ac.childs">
                                                <span>
                                                    <input class="uacheck" type="checkbox" value={{ac2.menu_id}} ng-checked="{{ac2.ispermitted}}" ng-model="ac2.ispermitted" ng-change="unCheckParent(ac,ac2)">
                                                    <span>
                                                        {{ac2.menu_name}}
                                                        <br/>
                                                        <span ng-if="ac2.ada_sub_pengecekan == true">    
                                                            <label>Bisa Mengatur</label>
                                                            <select ng-required="true" ng-model="ac2.bisa_mengatur" class="form-control" style="max-width: 140px;">
                                                                <option value=0>Tidak Bisa</option>
                                                                <option value=1>Bisa</option>
                                                            </select>
                                                        </span>
                                                        <span ng-if="ac2.ada_sub_pengecekan_bisa_tambah == true">
                                                            <label>Bisa Menambah</label>
                                                            <select ng-required="true" ng-model="ac2.bisa_tambah" class="form-control" style="max-width: 140px;">
                                                                <option value=0>Tidak Bisa</option>
                                                                <option value=1>Bisa</option>
                                                            </select>
                                                        </span>
                                                        <span ng-if="ac2.ada_sub_pengecekan_bisa_ubah == true">
                                                            <label>Bisa Mengubah</label>
                                                            <select ng-required="true" ng-model="ac2.bisa_ubah" class="form-control" style="max-width: 140px;">
                                                                <option value=0>Tidak Bisa</option>
                                                                <option value=1>Bisa</option>
                                                            </select>
                                                        </span>
                                                        <span ng-if="ac2.ada_sub_pengecekan_bisa_hapus == true">
                                                            <label>Bisa Menghapus</label>
                                                            <select ng-required="true" ng-model="ac2.bisa_hapus" class="form-control" style="max-width: 140px;">
                                                                <option value=0>Tidak Bisa</option>
                                                                <option value=1>Bisa</option>
                                                            </select>
                                                        </span>
                                                    </span>
                                                </span>
                                                <ul style="padding-left: 25px!important;" ng-if="ac2.childs != null">
                                                    <li ng-repeat="ac3 in ac2.childs">
                                                        <span>
                                                            <input class="uacheck" type="checkbox" value={{ac3.page_id}} ng-checked="{{ac3.ispermitted}}" ng-model="ac3.ispermitted" ng-change="toogleCheckChild(ac2,ac3)">                                                     
                                                        </span>
                                                        <span>
                                                            {{ac3.menu_name}}
                                                            <br/>
                                                            <span ng-if="ac3.ada_sub_pengecekan == true">    
                                                                <label>Bisa Mengatur</label>
                                                                <select ng-required="true" ng-model="ac3.bisa_mengatur" class="form-control" style="max-width: 140px;">
                                                                    <option value=0>Tidak Bisa</option>
                                                                    <option value=1>Bisa</option>
                                                                </select>
                                                            </span>
                                                            <span ng-if="ac3.ada_sub_pengecekan_bisa_tambah == true">
                                                                <label>Bisa Menambah</label>
                                                                <select ng-required="true" ng-model="ac3.bisa_tambah" class="form-control" style="max-width: 140px;">
                                                                    <option value=0>Tidak Bisa</option>
                                                                    <option value=1>Bisa</option>
                                                                </select>
                                                            </span>
                                                            <span ng-if="ac3.ada_sub_pengecekan_bisa_ubah == true">
                                                                <label>Bisa Mengubah</label>
                                                                <select ng-required="true" ng-model="ac3.bisa_ubah" class="form-control" style="max-width: 140px;">
                                                                    <option value=0>Tidak Bisa</option>
                                                                    <option value=1>Bisa</option>
                                                                </select>
                                                            </span>
                                                            <span ng-if="ac3.ada_sub_pengecekan_bisa_hapus == true">
                                                                <label>Bisa Menghapus</label>
                                                                <select ng-required="true" ng-model="ac3.bisa_hapus" class="form-control" style="max-width: 140px;">
                                                                    <option value=0>Tidak Bisa</option>
                                                                    <option value=1>Bisa</option>
                                                                </select>
                                                            </span>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-primary" ng-click="keluar()"><i class="fa fa-arrow-left"></i>&nbsp;Keluar</button>
            <button type="button" class="btn btn-flat btn-success" ng-click="addRole()"><i class="fa fa-save"></i>&nbsp;Simpan</button>
        </div>
    </div>
</script>        
<!-- Original -->
<script type="text/ng-template" id="viewRoleDetails.html">
    <div class="modal-content" ng-init="init()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="keluar()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
            <h3 class="modal-title afta-font" id="myModalLabel">Lihat Data Hak Akses</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-5 center-block well" style="float: none!important;">
                    <label>Nama Hak Akses</label>
                    <input ng-model="role.authority" class="form-control" type="text" disabled/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 center-block well" style="float: none!important;">
                    <table class="center-block" cellspacing="5">
                        <tr >
                            <td style="width: 350px!important;text-align: left;">
                                <div class="alert alert-info" ng-if="!accessrole || accessrole.length == 0">Tidak ada data</div>
                                <ul style="padding-left: 20px;">
                                    <li style="padding-top: 10px;" ng-repeat="ac in accessrole">
                                        <span>
                                            <input class="uacheck" type="checkbox" value={{ac.menu_id}} ng-checked="{{ac.ispermitted}}" disabled>
                                        </span>{{ac.menu_name}}
                                        <ul style="padding-left: 25px!important;" ng-if="ac.childs != null">
                                            <li ng-repeat="ac2 in ac.childs">
                                                <span>
                                                    <input class="uacheck" type="checkbox" value={{ac2.menu_id}} ng-checked="{{ac2.ispermitted}}" disabled>
                                                    <span>
                                                        {{ac2.menu_name}}
                                                    </span>
                                                </span>
                                                <ul style="padding-left: 25px!important;" ng-if="ac2.childs != null">
                                                    <li ng-repeat="ac3 in ac2.childs">
                                                        <span>
                                                            <input class="uacheck" type="checkbox" value={{ac3.menu_id}} ng-checked="{{ac3.ispermitted}}" disabled>
                                                        </span>
                                                        <span>
                                                            {{ac3.menu_name}}
                                                        </span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-primary" ng-click="keluar()"><i class="fa fa-arrow-left"></i>&nbsp;Keluar</button>
        </div>
    </div>
</script>
<!-- New -->
<script type="text/ng-template" id="viewRoleDetail.html">
    <div class="modal-content" ng-init="init()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="keluar()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
            <h3 class="modal-title afta-font" id="myModalLabel">Lihat Data Hak Akses</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-11 center-block well" style="float: none!important;">
                    <label>Nama Hak Akses</label>
                    <input ng-model="role.authority" class="form-control" type="text" disabled/>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-11 center-block well" style="float: none!important;">
                        <table class="table table-bordered table-striped table-condensed text-nowrap">
                            <thead>
                                <th class="center-vertical" style="width: 15px;">#</th>
                                <th class="center-vertical">Nama Menu</th>
                            </thead> 
                            <tbody ng-repeat="ac in accessrole">	
                                <tr>
                                    <td class="text-center">
                                        <input class="uacheck" type="checkbox" value={{ac.menu_id}} ng-checked="{{ac.ispermitted}}" ng-model="ac.ispermitted" ng-change="toogleCheckChild(ac)">
                                    </td>
                                    <td><label>{{ac.menu_name}}</label></td>
                                </tr>
                                <tr ng-repeat="ac2 in ac.childs">
                                    <td class="text-center">
                                        <input class="uacheck" type="checkbox" value={{ac2.page_id}} ng-checked="{{ac2.ispermitted}}" ng-model="ac2.ispermitted" ng-change="toogleCheckChild(ac2,ac3)">
                                    </td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ac2.menu_name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-primary" ng-click="keluar()"><i class="fa fa-arrow-left"></i>&nbsp;Keluar</button>
        </div>
    </div>
</script>