<ul class="nav navbar-nav navbar-right">
    <li ng-class="{active: $root.isActive('/beranda')}">
        <a ui-sref="beranda" style="color: #007e2d;"> <i class="fa fa-home"></i> Beranda</a>
    </li>
     <li ng-class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #007e2d;"> <i class="fa fa-book"></i> Layanan Pajak</a>
        <ul class="dropdown-menu" style="padding: 10px!important;">
            <li>
                <a ui-sref="daftar" style="color: #007e2d;"> <i class="glyphicon glyphicon-book"></i> Daftar</a>
            </li>
            <li>
                <a href="{{$root.adminhost}}#login" target="_blank" style="color: #007e2d;"> <i class="fa fa-sign-in"></i> Login</a>
            </li>
        </ul>
    </li>
    <!-- <li ng-class="{active: $root.isActive('/skpd')}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #007e2d;"> <i class="fa fa-files-o"></i> Layanan SKPD</a>
        <ul class="dropdown-menu" style="padding: 10px!important;">
            <li>
                <a ui-sref="daftar" style="color: #007e2d;"> <i class="glyphicon glyphicon-book"></i> Daftar</a>
            </li>
            <li>
                <a href="{{$root.adminhost}}#login/2" target="_blank" style="color: #007e2d;"> <i class="fa fa-sign-in"></i> Login</a>
            </li>
        </ul>
    </li>
    <li ng-class="{active: $root.isActive('/sspd')}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #007e2d;"> <i class="fa fa-file-text-o"></i> Layanan SSPD</a>
        <ul class="dropdown-menu" style="padding: 10px!important;">
            <li>
                <a ui-sref="daftar" style="color: #007e2d;"> <i class="glyphicon glyphicon-book"></i> Daftar</a>
            </li>
            <li>
                <a href="{{$root.adminhost}}#login/3" target="_blank" style="color: #007e2d;"> <i class="fa fa-sign-in"></i> Login</a>
            </li>
        </ul>
    </li> -->
    <li ng-class="{active: $root.isActive('/kontak')}">
       <a ui-sref="kontak" style="color: #007e2d;"> <i class="fa fa-phone"></i> Kontak Kami</a>
    </li>
    <!-- <li class="dropdown">
        <a href="{{$root.adminhost}}#login" class="dropdown-toggle" data-toggle="dropdown" style="color: #007e2d;"> <i class="fa fa-sign-in"></i> LOGIN</a>
        <ul class="dropdown-menu" style="padding: 10px!important;">
            <li>
                <a href="{{$root.adminhost}}#login" target="_blank" style="color: #007e2d;"> <i class="fa fa-sign-in"></i> Login Pimpinan</a>
            </li>
        </ul>
    </li> -->
    <!-- <li ng-class="{active: $root.isActive('/daftar')}">
        <a ui-sref="daftar" style="color: #007e2d;"> <i class="fa fa-plus-circle"></i> {{'register' | translate}}</a> -->
</ul>