<ul class="nav navbar-nav navbar-right">

    <li><a id='date_time' style="cursor: none;">{{$root.serversekarang}}</a></li>

    <!-- <li ng-class="{ active: $root.isActive('/fatayatNUCard')}">
        <a href="#" ui-sref="pajak" style="color: #007e2d;"><i class="fa fa-lightbulb-o"></i> Fatayat NU Card</a>
    </li> -->

    <li class="divider"></li>    

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #007e2d;">
            <i class="fa fa-user"></i>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" style="padding: 10px!important;">
            <li><a ui-sref="beranda" target="_blank" ng-click="$root.logout()" style="cursor: pointer!important;">{{'logout' | translate}} <i class="fa fa-sign-out" style="float: right;margin-top: 4px;"></i></a></li>
        </ul>
    </li>
   
</ul>
