.checkbox-sidebar{
    display: none;
}
.date-picker-background{
    background-color: white !important;
}
.ribbon {
    font-size: 12px !important;
    width: 140px;
    position: absolute;
    background: #ba89b6;
    color: #fff;
    text-align: center;
    padding: 1em 2em;
    right: -40px;
    margin: 0;
    transform: rotate(40deg);
}
[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
    position:inherit;
    opacity: 0;
    -webkit-transform:scale3d(0.5, 0.5, 0.5);
    -moz-transform:scale3d(0.5, 0.5, 0.5);
    transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
    position:inherit;
    opacity: 1;
    -webkit-transform:scale3d(1, 1, 1);
    -moz-transform:scale3d(1, 1, 1);
    transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
    position:inherit;
    opacity: 1;
    /*padding-left: 0px;*/  
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
    position:inherit;
    opacity: 0;
    /*padding-left: 100px;*/
    -webkit-transform:translate3d(100px, 0, 0);
    -moz-transform:translate3d(100px, 0, 0);
    transform:translate3d(100px, 0, 0);
}

@font-face {
    font-family: 'afta_sansregular';
    src: url('../fonts/aftasans/aftasansthin-regular-webfont.eot');
    src: url('../fonts/aftasans/aftasansthin-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/aftasans/aftasansthin-regular-webfont.woff') format('woff'),
        url('../fonts/aftasans/aftasansthin-regular-webfont.ttf') format('truetype'),
        url('../fonts/aftasans/aftasansthin-regular-webfont.svg#afta_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.unlook {
    display: none!important;
}

.no-float {
    float: none!important;
}

.right-side-logged {
    margin-left: 0px!important;
}

.afta-font{
    font-family: Century Gothic!important;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    background: #343672; /* Old browsers */
    background: -moz-linear-gradient(top,  #343672 0%, #1824ad 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343672), color-stop(100%,#1824ad)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #343672 0%,#1824ad 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #343672 0%,#1824ad 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #343672 0%,#1824ad 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #343672 0%,#1824ad 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343672', endColorstr='#1824ad',GradientType=0 ); /* IE6-9 */

}

.bg-green-gradient {
    background: #ffffff; /* Old browsers */

}

.skin-blue .logo {
    background: #f8f8f8; /* Old browsers */


    color: black;
}

.btn.btn-primary {
    /*background-color: #1824ad;*/

    background-color: #2578e9;
    background: #2578e9;
    background: -moz-linear-gradient(30deg,#2578e9 0%,#3fe7d9 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#2578e9),color-stop(100%,#3fe7d9));
    background: -webkit-linear-gradient(30deg,#2578e9 0%,#3fe7d9 100%);
    background: -o-linear-gradient(30deg,#2578e9 0%,#3fe7d9 100%);
    background: -ms-linear-gradient(30deg,#2578e9 0%,#3fe7d9 100%);
    background: linear-gradient(30deg,#2578e9 0%,#3fe7d9 100%);

    border-color: lightblue;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary.hover {
    /*background-color: #343672;*/
    background: #2270d6; /* Old browsers */
    background: -moz-linear-gradient(top,  #2270d6 0%, #40a6e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2270d6), color-stop(100%,#40a6e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2270d6 0%,#40a6e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2270d6 0%,#40a6e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2270d6 0%,#40a6e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2270d6 0%,#40a6e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2270d6', endColorstr='#40a6e5',GradientType=0 ); /* IE6-9 */
}

.btn.btn-warning {
    background: #f39c12;
    background: -moz-linear-gradient(left, #f39c12 0%, #efc283 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f39c12), color-stop(100%,#efc283));
    background: -webkit-linear-gradient(left, #f39c12 0%,#efc283 100%);
    background: -o-linear-gradient(left, #f39c12 0%,#efc283 100%);
    background: -ms-linear-gradient(left, #f39c12 0%,#efc283 100%);
    background: linear-gradient(to right, #f39c12 0%,#efc283 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f39c12', endColorstr='#efc283',GradientType=1 );
    border-color: lightyellow;
}

.btn.btn-warning:hover, .btn.btn-warning:active, .btn.btn-warning.hover {
    background: #f39c12; /* Old browsers */
    background: -moz-linear-gradient(top,  #f39c12 0%, #efc283 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f39c12), color-stop(100%,#efc283)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f39c12 0%,#efc283 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f39c12 0%,#efc283 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f39c12 0%,#efc283 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f39c12 0%,#efc283 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f39c12', endColorstr='#efc283',GradientType=0 ); /* IE6-9 */

}

.btn.btn-danger {
    background: #f45944; /* Old browsers */
    background: -moz-linear-gradient(left,  #f45944 0%, #f49184 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f45944), color-stop(100%,#f49184)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #f45944 0%,#f49184 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #f45944 0%,#f49184 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #f45944 0%,#f49184 100%); /* IE10+ */
    background: linear-gradient(to right,  #f45944 0%,#f49184 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f45944', endColorstr='#f49184',GradientType=1 ); /* IE6-9 */

    border-color: lightpink;
}

.btn.btn-danger:hover, .btn.btn-danger:active, .btn.btn-danger.hover {
    background: #f45944; /* Old browsers */
    background: -moz-linear-gradient(top,  #f45944 0%, #f49184 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f45944), color-stop(100%,#f49184)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f45944 0%,#f49184 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f45944 0%,#f49184 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f45944 0%,#f49184 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f45944 0%,#f49184 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f45944', endColorstr='#f49184',GradientType=0 ); /* IE6-9 */

}

.btn.btn-success {
    background: #00a65a; /* Old browsers */
    background: -moz-linear-gradient(left,  #00a65a 0%, #5bcc97 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00a65a), color-stop(100%,#5bcc97)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #00a65a 0%,#5bcc97 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #00a65a 0%,#5bcc97 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #00a65a 0%,#5bcc97 100%); /* IE10+ */
    background: linear-gradient(to right,  #00a65a 0%,#5bcc97 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a65a', endColorstr='#5bcc97',GradientType=1 ); /* IE6-9 */

    border-color: lightcyan;
}

.btn.btn-success:hover, .btn.btn-success:active, .btn.btn-success.hover {
    background: #00a65a; /* Old browsers */
    background: -moz-linear-gradient(top,  #00a65a 0%, #5bcc97 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a65a), color-stop(100%,#5bcc97)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00a65a 0%,#5bcc97 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00a65a 0%,#5bcc97 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00a65a 0%,#5bcc97 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00a65a 0%,#5bcc97 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a65a', endColorstr='#5bcc97',GradientType=0 ); /* IE6-9 */

}

.sidebar .sidebar-menu .treeview-menu li a,
.sidebar .sidebar-menu .treeview-menu li label {
    padding: 8px 5px 8px 30px;
}
.sidebar .sidebar-menu .treeview-menu > li.active > a {
    background-color: #b5b8cf;
    color: #FFFFFF;
}

.box .box-body{
    padding: 15px 20px;
}

.header > a:hover{
    /*background: #003F1A!important;*/

    background: f8f8f8!important;

}

.nav-tabs > li > a {
    cursor: pointer;
}

.procentage{
    width: 30px!important; 
    min-width: 30px!important;
    text-align: right!important;
}

.procentage-evaluasi{
    width: 30px!important; 
    min-width: 30px!important;
    text-align: center!important;
}

.text-right {
    vertical-align: middle!important;
}

.middle-vertical {
    vertical-align: middle!important;
}

.turun-15 {
    margin-top: 15px;
}

.conversation-wrap
{
    box-shadow: -2px 0 3px #ddd;
    padding:0;
    max-height: 400px;
    overflow: auto;
}

.conversation
{
    padding:5px;
    border-bottom:1px solid #ddd;
    margin:0;

}

.judul-datatabel{
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: left;
}

.message-wrap
{
    box-shadow: 0 0 5px gray;
    padding: 10px 15px;

}
.msg
{
    padding: 15px 10px;
    /*border-bottom:1px solid #ddd;*/
    margin:0;
}
.msg-wrap
{
    padding:10px;
    overflow: auto;
    padding-top: 0px;
    background-color: white;
}

.time
{
    color:#bfbfbf;
}

.center-vertical {
    vertical-align: middle!important;
    text-align: center!important;
}

.send-wrap
{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding:10px;
    /*background: #f8f8f8;*/
}

.send-message
{
    resize: none;
}

.highlight
{
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.send-message-btn
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;

    border-bottom-right-radius: 0;
}
.btn-panel
{
    background: #f7f7f9;
}

.btn-panel .btn
{
    color: white;

    transition: 0.2s all ease-in-out;
}

.btn-panel .btn:hover
{
    color:#666;
    background: #f8f8f8;
}
.btn-panel .btn:active
{
    background: #f8f8f8;
    box-shadow: 0 0 1px #ddd;
}

.btn-panel-conversation .btn,.btn-panel-msg .btn
{

    background: #f8f8f8;
}
.btn-panel-conversation .btn:first-child
{
    border-right: 1px solid #ddd;
}

.msg-wrap .media-heading
{
    color:#003bb3;
    font-weight: 700;
}

.modal-meta-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    border-top: solid 1px #ccc;
}

#reportrange {
    background: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    color: #333333;
    padding: 8px;
    line-height: 18px;
    cursor: pointer;
}

.limit-items {
    margin: 25px 0px 20px 0px; font-weight: bold;
}

.msg-date
{
    background: none;
    text-align: center;
    color:#000;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
}

.skin-blue .sidebar > .sidebar-menu > li.active > a {
    color: white;
    background: #3ca58c;
}

body > header > a.logo:hover {
    background: rgb(52,54,114); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(52,54,114,1) 0%, rgba(24,36,173,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,54,114,1)), color-stop(100%,rgba(24,36,173,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(52,54,114,1) 0%,rgba(24,36,173,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(52,54,114,1) 0%,rgba(24,36,173,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(52,54,114,1) 0%,rgba(24,36,173,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(52,54,114,1) 0%,rgba(24,36,173,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343672', endColorstr='#1824ad',GradientType=0 ); /* IE6-9 */
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
/*
body::-webkit-scrollbar {
    width: 12px;
}


 Let's get this party started 
::-webkit-scrollbar {
    width: 6px;
}

 Track 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      -webkit-border-radius: 10px;
        border-radius: 10px;
}

 Handle 
::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
        border-radius: 10px;
    background:#ddd; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #ddd; 
}*/

.sidebar .sidebar-menu .treeview-menu > li > a > .fa {
    padding-top: 5px!important;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa {
    background: none;
}

/* Styling for the ngProgress itself */
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: #00c0ef !important;
    color: #00c0ef !important;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    height: 2px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

@media (min-width: 768px){
    .modal-dialog {
        width: 960px;
    }

    .dl-horizontal dt {
        width: 200px;
        overflow: visible;
        clear: left;
        text-align: left!important;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dl-horizontal dd {
        margin-left: 220px;
        padding-bottom: 15px;
    }

    .legend-dt {
        width: 15px!important;
    }

    .legend-dd {
        margin-left: 15px!important;
        padding-bottom: 5px!important;
    }

}

.panel-title a {
    cursor: pointer!important;
}

/*@media print 
{
    #printableArea{
        display: block;
        font-size: 1.4em!important;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .print-kecil-body{
        font-size: 0.7em!important;
    }
    
    .print-kecil-head{
        font-size: 1.0em!important;
    }
}*/




@media screen{
    .margin-atas{
        margin-top: 25px;
    }
}

@media print{
    #print-datarekanan{
        margin-top: 0px!important;
        padding-top: 0px!important;
        margin-bottom: 0px;
        font-family: "Courier New" !important;
    }

    .font-courier{
        font-family: "Courier New" !important;
    }

    .font-kecil{
        font-size: 0.8em!important;;
    }

    .font-tiny{
        font-size: 0.7em!important;
        font-family: "Courier New" !important;
    }

    .margin-hilang{
        margin-top: 0px!important;
        margin-bottom: 0px!important;
    }

    .margin-atas{
        margin-top: 10px;
    }

    .gak-tampil{
        display: none;
    }

    .unborder{
        border: 0px!important;
    }

    .cetak-tabel{
        font-size: 0.8em;
        width: 480px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        float: none!important;
    }

    .kolom-kiri{
        width: 20%;
    }

    .kolom-tengah{
        width: 20%;
    }

    .kolom-kanan{
        width: 60%;
    }

    .sesuaikan-lebar{
        width: 100%!important;
    }

    .maxwidth-print{
        max-width: 90%!important;
        margin-left: auto;
        margin-right: auto;
    }

    #print-pengurusperusahaan{
        margin-top: 0px!important;
        padding-top: 0px!important;
        margin-bottom: 0px;
        font-family: "Courier New" !important;
    }

    #print-tenagaahli{
        margin-top: 0px!important;
        padding-top: 0px!important;
        margin-bottom: 0px;
        font-family: "Courier New" !important;
    }

    #print-dataperlengkapan{
        margin-top: 0px!important;
        padding-top: 0px!important;
        margin-bottom: 0px;
        font-family: "Courier New" !important;
    }

    #print-datapengalaman{
        margin-top: 0px!important;
        padding-top: 0px!important;
        margin-bottom: 0px;
        font-family: "Courier New" !important;
    }

    tbody.font-tiny > tr > td {
        padding-top: 2px;
        padding-bottom: 2px;
    }

}

.garis-merah {
    background-color: #ffcccc!important;
    border-color: #a94442!important;
}
.garis-merah .warna-merah{
    color: #a94442;
}
 /* Popover */
  .popover {
      border: 2px;
      width: 500px;
      min-width: 500px;
      
  }
  /* Popover Header */
  .popover-title {
           color: #000000; 
      font-size: 24px;
      text-align:center;
  }
  /* Popover Body */
  .popover-content {
            color: #000000;
      font-size: 15px;
      padding: 16px;
  }
  /* Popover Arrow */
  .arrow {
      border-right-color: blue !important;
  }
  .box .box-header a {
    color: #343672;
}