<style>
  .head-font{
    font-size: 12px !important;
  }
  .content-kecil{
    font-size: 9px !important;
  }
  .manualTabs{
    padding-bottom: 5px;
  }
  /* g{display:none !important;} */
  /* #chartdivKategoriPengadaan {
  width: 100%; height: 200px;
} */
/* #chartdivVms{
width: 100%;height: 250px;
} */
/* #chartdivProsesPengadaan{
width: 100%;height: 200px;
} */
/* #chartdivKpiPenyedia{
width: 100%;height: 200px;
} */
</style>
<section ng-init="init()" class="content">
  <breadcrumbs></breadcrumbs>
  <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
    <div class="box box-info">
      <div class="box-body">
        <div class="row">
          <div class="col-md-5" style="padding-top: 10px;">
            <h3 class="afta-font" style="margin-top: 0px; font-weight: bold;"> Dashboard </h3>
          </div>
        </div>
        <!-- <div class="row">
        <div class="col-md-12" style="padding-top: 10px;">
        <h1 class="afta-font" style="margin-top: 0px;">Selamat Datang</h1>
      </div>
    </div> -->
    

</div>
</div>
</div>
</section>
<script>
  $('g[opacity="0.4"]').hide();
</script>
