<style type="text/css">
.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}
#leftcol {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-y: scroll;
  height: 350px;
}
#leftcol ul li {
    list-style: none;
    color: #ffffff;
}
#rightcol {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  width: 25%;
  height: 400px;
}
.login-background{
    background-image: url('assets/rekanan/image/img-footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
</style>

<!-- Header Carousel -->
<div id="main_area" ng-init="init()" style="overflow-x: hidden;">
            <!-- Slider -->
                    <!-- Top part of the slider -->
<div id="carousel-example" class="carousel slide" data-ride="carousel">
  <div class="carousel-caption" style="right: 3%;
        text-align: right;
        max-width: 300px;
        left: auto;
        padding-bottom: 50px;">
  </div>
  <div class="carousel-inner">
    <div class="item active">
      <a href="#"><img src="assets/rekanan/image/slider/img3.jpg" style="width: 100%;" /></a>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="assets/rekanan/image/slider/img4.jpg" style="width: 100%;" /></a>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="assets/rekanan/image/slider/img2.jpg" style="width: 100%;" /></a>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="assets/rekanan/image/slider/img1.jpg" style="width: 100%;" /></a>
      <div class="carousel-caption">
      </div>
    </div>
  </div>

</div>


<script type="text/javascript">
jQuery( document ).ready( function($){
    $('#carousel-text').html($('#slide-content-0').html());

    //Handles the carousel thumbnails
    $('[id^=carousel-selector-]').click(function() {
        var id = this.id.substr(this.id.lastIndexOf("-") + 1);
        var id = parseInt(id);
        $('#myCarousel').carousel(id);
    });

    // When the carousel slides, auto update the text
    $('#myCarousel').on('slid.bs.carousel', function(e) {
        var id = $('.item.active').data('slide-number');
        $('#carousel-text').html($('#slide-content-' + id).html());
    });
});
</script>

<div class="row" style="height: 300px; background: #f6f6f6">
    <div class="col-md-4" style="text-align: center">
        <img src="assets/rekanan/image/img5.png" style="width: 300px;height: 285px;margin-top:8px;" alt="">
    </div>
    <div class="col-md-7">
      <div class="row" style="margin-top:70px">
        <label style="font-size:26px">Badan pengelolaan pajak dan retribusi daerah Raja Ampat</label><br>
        <span style="font-size:20px">Pemerintah Raja Ampat telah meluncurkan aplikasi pengelolaan pajak dan retribusi secara online. Aplikasi ini bertujuan untuk menunjang pengelolaan pajak yang meliputi pengajuan Nomor Pokok Wajib Daerah (NPWPD), Pengajuan Surat Ketetapan Pajak Daerah serta Surat Bukti Pembayaran Pajak (SSPD)</span>
      </div>
    </div>
</div>
<div class="container" ng-init="init()">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header afta-font text-center" style="font-weight: bold;"> <!-- header Visitor ini memang tertutup header dari Vendor -->
                <i class="fa fa-newspaper-o"></i> Berita Terbaru
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- Features Section -->
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 ">
                <div>
                    <input type="text" class="form-control" ng-model-options='{ debounce: 1000 }' ng-model="keyword" ng-change="init()" style="float: right;" placeholder="Cari berita">                    
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 text-center" ng-repeat="b in berita | filter: keyword">
                        <div class="row">                            
                            <div class="col-md-12">                      
                                <img src="{{$root.url_image + b.picture_news}}" style="width: 345px;height: 230px;" alt=""><br>
                                <span style="float: right;">Sumber Info : {{b.sumber}}, {{dateFormat(b.date_news)}}</span>
                            </div>
                            <div class="col-md-12">
                                <label style="text-align: left;font-size: 15px;">{{b.title_news | limitHtml: 70}}</label><br>
                                <div style="text-align: left;" ng-bind-html="b.content_news | limitHtml: 300"></div>
                                <br>
                        
                                <span style="float: right;"><a style="cursor:pointer;" ng-click="lihatBerita(b.id_news)">Selengkapnya...</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <pagination total-items="totalItems" page="currentPage" style="float: right;" items-per-page="6"  ng-show="totalItems > 6" max-size="maxSize" on-select-page="loadNewsPage(page)"></pagination>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color: #eef3f0;">
    <div class="col-md-12" style="text-align: center;font-size: 34px;margin-top: 20px">
      <label>Mitra kami</label>      
    </div>
    <div class="col-md-12" style="padding: 2%;text-align:center">
        <img src="assets/rekanan/image/pertanahan.png" alt="" style="width: 12%;">
        <img src="assets/rekanan/image/bank_papua.png" alt="" style="width: 15%;">
    </div>   
</div>
  <div class="row">
    <div class="container-fluid login-background" style="text-align: center;color:white">
      <div class="row" style="margin-top:53px">
          <div class="col-md-3">
            <label style="font-size: 50px;color: #e8e898">669871</label><br>
            <span>Obyek Pajak PBB</span>
          </div>

          <div class="col-md-3">
            <label style="font-size: 50px;color: #e8e898">4229</label><br>
            <span>Obyek Pajak Restoran</span>
          </div>

          <div class="col-md-3">
            <label style="font-size: 50px;color: #e8e898">669871</label><br>
            <span>Obyek Pajak PBB</span>
          </div>

           <div class="col-md-3">
            <label style="font-size: 50px;color: #e8e898">4229</label><br>
            <span>Obyek Pajak Restoran</span>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3">
            <label style="font-size: 50px;color: #e8e898">669871</label><br>
            <span>Obyek Pajak PBB</span>
          </div>

          <div class="col-md-3">
            <label style="font-size: 50px;color: #e8e898">4229</label><br>
            <span>Obyek Pajak Restoran</span>
          </div>

          <div class="col-md-3">
            <label style="font-size: 50px;color: #e8e898">669871</label><br>
            <span>Obyek Pajak PBB</span>
          </div>

           <div class="col-md-3">
            <label style="font-size: 50px;color: #e8e898">4229</label><br>
            <span>Obyek Pajak Restoran</span>
          </div>
      </div>
    </div>
     
  </div>   
</div>
