<style>
@media (min-width: 768px){
    .dl-horizontal dd {margin-left: 220px;}        
    .long-height {min-height: 600px;}
}
</style>
<div ng-init="init()" class="container" style="margin-top: 20px;">
    <div class="container">
        <div class="row">            
            <h2 class="afta-font">{{berita.title_news}}</h2>
            <h5>Tanggal: <i>{{$root.convertLongDate(berita.date_news)}}</i></h5>
        </div>
        <div class="row">
            <div class="col-md-12 well">
                <div class="col-md-12" style="text-align: center;">
                    <img src="{{$root.url_image + berita.picture_news}}" style="width: 500px;margin-bottom: 15px;" alt="">
                </div>
                <p ng-bind-html="berita.content_news"></p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-6">
                <a class="btn btn-info" ui-sref="beranda"> 
                    <i class="fa fa-reply"></i>&nbsp; Kembali
                </a>
                &nbsp;
                <!-- <a ng-show="berita.picture_news != ''" href="{{$root.url_api + berita.picture_news}}" target="_blank" class="btn btn-primary">
                    <i class="fa fa-download"></i>&nbsp; Download Dokumen
                </a> -->
            </div>
            <!--
            <div class="col-md-6" style="text-align: right;">
            </div>
            -->
        </div>
    </div>
</div>