<style>
    .login-background{
        /* background-image: url('assets/rekanan/image/slider/background-login.png'); */
        background-repeat: no-repeat;
        background-size: cover;
        height: 632px;
    }
    .panel-login{
        width: 600px;
        margin-top: 22px;
        padding: 15px;
        box-shadow: 2px 2px 6px;
    }
</style>
<div ng-init="init()" class="container-fluid login-background" style="background: #ebe9dd">
    <div class="col-md-6">
        <img src="./assets/rekanan/image/pajak.jpg" style="width: 150%;margin-left: -25px" alt="">
    </div>
    <div class="col-md-6">
        <div id="loginbox" class="mainbox" style="display: flex;justify-content: flex-end;">
            <div class="panel panel-info panel-login" style="padding: 30px;width: 59%;height: 578px;">
                    <!-- <div class="col-md-6" > -->
                <div class="row" style="margin-top: 30px;font-size: 20px;">
                    <div class="col-md-12 text-center">
                        <label>Ayo Gabung Online Pajak Sekarang</label>
                    </div>                  
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span>Daftar Akun Baru</span>
                    </div>                
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nama</label>
                            <input id="nama" class="form-control" type="text" placeholder="Nama" ng-model="daftar.username"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Identitas </label>&nbsp;&nbsp;&nbsp;
                                <span>
                                    <input type="radio" ng-click="getValue('KTP')" ng-model="daftar.type_identitas" value="KTP" name="" id=""> KTP
                                    <input type="radio" ng-click="getValue('Paspor')" ng-model="daftar.type_identitas" value="Paspor" name="" id=""> Paspor
                                    <input type="radio" ng-click="getValue('SIM')" ng-model="daftar.type_identitas" value="SIM" name="" id=""> SIM
                                </span>
                            <input id="nik" class="form-control" onkeypress="return isNumberKey(event)" type="text" placeholder="Masukkan No" ng-model="daftar.nik" maxlength="16" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" type="text" placeholder="Email" ng-model="daftar.email" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Password</label>                        
                            <input id="password" class="form-control" type="password"placeholder="Masukkan Password / Kata Sandi" ng-model="daftar.password" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>No Tlp / WA</label>    
                            <input  class="form-control" type="text" onkeypress="return isNumberKey(event)" placeholder="Masukkan No telp / WA" ng-model="daftar.noTelp" maxlength="16" />
                        </div>                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        <div class="form-group">
                            <button type="button" ng-click="daftarUser()" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-book"></i> &nbsp; Daftar</button>
                            <a href="{{$root.adminhost}}#login/1" class="btn btn-sm btn-success"><i class="fa fa-sign-in"></i> &nbsp; Login</a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    
</div>
<SCRIPT language=Javascript>
    function isNumberKey(evt)
    {
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      if (charCode != 45 &&charCode != 46 && charCode > 32 && (charCode < 48 || charCode > 57))
      return false;
  
      return true;
    }
</SCRIPT>
