<section class="content" style="background-image: url('../assets/rekanan/image/login-back.jpg')">
    <div ng-init="init()" class="form-box" id="login-box" style="margin-top: 15px;">
        <div class="header" style="background: #eef3fa!important; padding-bottom: 5px;opacity: 0.8;">
            <div class="row">
                <div class="col-md-12">
                    <img src="../assets/rekanan/image/logos.png" class="img-responsive center-block" style="padding-bottom: 10px;width: 125px;"/>
                </div>
            </div>
            <div class="text-center">
                <h4 class="afta-font text-center" style="color: #000;">Online Pajak Raja Ampat</h4>
                <h4 class="afta-font text-center" style="color: #000;">Login</h4>
            </div>
        </div>
        <div class="row" ng-show="showMsg">
            <div class="col-md-12">
                <div class="alert alert-warning alert-dismissable">
                    <i class="fa fa-warning"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <b>Attention!</b> {{failedMsg}}
                </div>
            </div>
        </div>
        <form id="formLogin">
            <div class="body bg-gray">
                <div class="form-group">
                    <input id="username" class="form-control" type="text" autocomplete="off" placeholder="Username" ng-model="username" ng-keypress="submitCaptcha($event)"/>
                </div>
                <div class="form-group">
                    <input id="password" class="form-control" type="password" autocomplete="off" placeholder="Password" ng-model="password" ng-keypress="submitCaptcha($event)"/>
                </div>
                <div class="form-inline" style="margin-bottom: -5px;">
                    <div class="text-center">
                        <canvas id='textCanvas' ng-show="false" height=20></canvas>
                        <img id='image' height="40">
                        <button class="btn btn-primary" ng-click="captcha()" style="margin-bottom: 10px;margin-left: 10px;background: #88ac27;"><i class="fa fa-refresh"/></button>
                    </div>
                </div>
                <div class="form-inline" style="margin-bottom: 20px;">
                    <div class="text-center">
                        <input class="form-control" type="text" autocomplete="off" id="txtInput" placeholder="Masukkan Kode Diatas"  ng-keypress="submitCaptcha($event)" ng-model="enterCaptcha" /> <!-- Input The Code Above --> 
                    </div>
                </div>
            </div>
            <div class="footer" style="background: #acbac1!important; border: 1px solid #EBEAEA!important;">                                                               
                <button ng-click="login()" name="submit" value="submit" class="btn btn-block" style="background: #2693ce; margin-bottom: 0px; color: #fff;">
                    <i class="fa fa-arrow-circle-right"></i>&nbsp;Masuk
                </button>
            </div>
        </form>
    </div>
    <!--
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-12">			
            <div class="text-center">
                <a ui-sref="forgot-password-user">Lupa Password?</a>
            </div>
        </div>
    </div>
    -->
</section>