.ribbon {
    font-size: 12px !important;
    width: 140px;
    position: absolute;
    background: #ba89b6;
    color: #fff;
    text-align: center;
    padding: 1em 2em;
    right: -40px;
    margin: 0;
    transform: rotate(40deg);
}
[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
    -webkit-transform:scale3d(0.5, 0.5, 0.5);
    -moz-transform:scale3d(0.5, 0.5, 0.5);
    transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform:scale3d(1, 1, 1);
    -moz-transform:scale3d(1, 1, 1);
    transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
    opacity: 1;
    /*padding-left: 0px;*/  
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
    opacity: 0;
    /*padding-left: 100px;*/
    -webkit-transform:translate3d(100px, 0, 0);
    -moz-transform:translate3d(100px, 0, 0);
    transform:translate3d(100px, 0, 0);
}

@font-face {
    font-family: 'afta_sansregular';
    src: url('../fonts/aftasans/aftasansthin-regular-webfont.eot');
    src: url('../fonts/aftasans/aftasansthin-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/aftasans/aftasansthin-regular-webfont.woff') format('woff'),
        url('../fonts/aftasans/aftasansthin-regular-webfont.ttf') format('truetype'),
        url('../fonts/aftasans/aftasansthin-regular-webfont.svg#afta_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.center-vertical {
    text-align: center!important;
    vertical-align: middle!important;
}

.middle-vertical {
    vertical-align: middle!important;
}

.text-right {
    vertical-align: middle!important;
}

.afta-font{
    font-family: Century Gothic, Arial, sans-serif!important;
}

header.carousel {
    height: 445px!important;
    max-height: 445px!important;
}

header.carousel .fill {
    width: 100%;
    height: 445px!important;
    max-height: 445px!important;
    background-position: center;
    background-size: cover;
}

.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{
    position:relative;
}

.dropdown-submenu > .dropdown-menu{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.dropdown-submenu:hover > a:after{
    border-left-color:#555;
}

.dropdown-submenu.pull-left{
    float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.navbar-inverse .navbar-nav > .open > a {
    background-color: darkslateblue!important;
}



.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
    font-family: 'afta_sansregular', Arial, sans-serif;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #facf04;
    font-family: 'afta_sansregular', Arial, sans-serif;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
    font-family: 'afta_sansregular', Arial, sans-serif;
}

.navbar-inverse a.navbar-brand:hover {
    color: #facf04;
    font-family: 'afta_sansregular', Arial, sans-serif;
}

footer {
    margin: 20px 0;
}

.form-control {
    margin-bottom: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.transition-timer-carousel .carousel-caption {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.5) 32%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(32%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: left;
    padding-top: 5px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
}
.transition-timer-carousel .carousel-caption .carousel-caption-header {
    margin-top: 10px;
    font-size: 24px;
}

@media (min-width: 970px) {
    /* Lower the font size of the carousel caption header so that our caption
    doesn't take up the full image/slide on smaller screens */
    .transition-timer-carousel .carousel-caption .carousel-caption-header {
        font-size: 36px;
    }
}
.transition-timer-carousel .carousel-indicators {
    bottom: 0px;
    margin-bottom: 15px;
}
.transition-timer-carousel .carousel-control {
    z-index: 11;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar {
    height: 5px;
    background-color: #5cb85c;
    width: 0%;
    margin: -5px 0px 0px 0px;
    border: none;
    z-index: 11;
    position: relative;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar.animate{
    /* We make the transition time shorter to avoid the slide transitioning
    before the timer bar is "full" - change the 4.25s here to fit your
    carousel's transition time */
    -webkit-transition: width 4.25s linear;
    -moz-transition: width 4.25s linear;
    -o-transition: width 4.25s linear;
    transition: width 4.25s linear;
}

.carousel .item {
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    -ms-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
}

.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}
.carousel .next {
    left:0;
    opacity:1;
    z-index:1;
}

#reportrange {
    background: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    color: #333333;
    padding: 8px;
    line-height: 18px;
    cursor: pointer;
}

/* =================== DESIGN FORUM STARTS HERE ================== */

.conversation-wrap
{
    box-shadow: -2px 0 3px #ddd;
    padding:0;
    max-height: 400px;
    overflow: auto;
}
.conversation
{
    padding:5px;
    border-bottom:1px solid #ddd;
    margin:0;

}

.no-margin{
    margin-bottom: 0px;
    margin-top: 0px;
}

.message-wrap
{
    box-shadow: 0 0 5px grey;
    padding:0;

}
.msg
{
    padding: 15px 10px;
    /*border-bottom:1px solid #ddd;*/
    margin:0;
}
.msg-wrap
{
    padding:10px;
    overflow: auto;
    padding-top: 0px;
}

.time
{
    color:#bfbfbf;
}

.send-wrap
{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding:10px;
    /*background: #f8f8f8;*/
}

.send-message
{
    resize: none;
}

.highlight
{
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.send-message-btn
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;

    border-bottom-right-radius: 0;
}
.btn-panel
{
    background: #f7f7f9;
}

.btn-panel .btn
{
    color: white;

    transition: 0.2s all ease-in-out;
}

.btn-panel .btn:hover
{
    color:#666;
    background: #f8f8f8;
}
.btn-panel .btn:active
{
    background: #f8f8f8;
    box-shadow: 0 0 1px #ddd;
}

.btn-panel-conversation .btn,.btn-panel-msg .btn
{

    background: #f8f8f8;
}
.btn-panel-conversation .btn:first-child
{
    border-right: 1px solid #ddd;
}

.msg-wrap .media-heading
{
    color:#003bb3;
    font-weight: 700;
}

.dl-horizontal dd {
    padding-bottom: 15px!important;
}

.dl-horizontal{
    margin-bottom: 10px!important;
    margin-top: 15px!important;
}

.msg-date
{
    background: none;
    text-align: center;
    color:#000;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
}


/*body::-webkit-scrollbar {
    width: 12px;
}


 Let's get this party started 
::-webkit-scrollbar {
    width: 6px;
}

 Track 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      -webkit-border-radius: 10px;
        border-radius: 10px;
}

 Handle 
::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
        border-radius: 10px;
    background:#ddd; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #ddd; 
}*/


/* ========================== END DESIGN OF FORUM =========================== */

.modal-body {
    padding: 15px 20px;
}

/* ========================== DESIGN BLOG FEED STARTS HERE !! ==================== */

a:hover { text-decoration: none; }
.btn
{
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}
.btn-read-more
{
    padding: 5px;
    text-align: center;
    border-radius: 0px;
    display: inline-block;
    border: 2px solid #662D91;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color:#662D91;
}

.btn-read-more:hover
{
    color: #FFF;
    background: #662D91;
}
.post { border-bottom:1px solid #DDD }
.post-title {  color:#662D91; }
.post .glyphicon { margin-right:5px; }
.post-header-line { 
    border-top:1px solid #DDD;
    border-bottom:1px solid #DDD;
    padding:5px 0px 5px 15px;
    font-size: 12px; }
.post-content { padding-bottom: 15px;padding-top: 15px;}




.btn-blog {
    color: #ffffff;
    background-color: #37d980;
    border-color: #37d980;
    border-radius:0;
    margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#34ca78;
    border-color: #34ca78;
}

article h2{
    color:#333333;
}

.margin10{
    margin-bottom:10px; 
    margin-right:10px;
}

/* ========================== END OF DESIGN BLOG ================================= */


/* ============== UNTUK CUSTOM STYLE RESPONSIVE DI MOBILE DEVICE ================= */

/* Landscape phones and down
@media (max-width: 480px) {
    .turn-down-pagination{
        margin-top: 15px;
    }
} */

/* Landscape phone to portrait tablet
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: aqua!important;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #F2FF00;
    }

    .turn-down-pagination{
        margin-top: 15px;
    }
} */

/* Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px) {
    .content-turun {
        margin-top: 150px;
        margin-bottom: 150px;
    }
} */

@media only screen and (min-width: 784px) and (max-width: 1106px){
/*    .content-turun {
        margin-top: 150px;
        margin-bottom: 150px;
    }*/
    .content-turun {
        margin-top: 50px;
        margin-bottom: 150px;
    }
}

@media (min-width: 768px){
    .modal-dialog {
        width: 960px;
    }

    .dl-horizontal dt {
        width: 220px;
        overflow: visible;
        clear: left;
        text-align: left!important;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dl-horizontal dd {
        margin-left: 240px;
        padding-bottom: 15px;
    }


}

/*Large desktop
@media (min-width: 1200px) {

}  */


@media (max-width: 767px){
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: cyan;
    }
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.navbar-inverse .navbar-nav > .active > a , .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active  {
    background: #18b3f3; /* Old browsers */
    background: -moz-linear-gradient(top,  #18b3f3 0%, #1a7cc2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#18b3f3), color-stop(100%,#1a7cc2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #18b3f3 0%,#1a7cc2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #18b3f3 0%,#1a7cc2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #18b3f3 0%,#1a7cc2 100%); /* IE10+ */
    background: linear-gradient(to bottom, #18b3f3 0%,#1a7cc2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18b3f3', endColorstr='#1a7cc2',GradientType=0 ); /* IE6-9 */
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}