.btn.btn-primary {
    /*background-color: #1824ad;*/

    background-color: #2578e9;
    background: #2578e9;
    background: -moz-linear-gradient(30deg,#2578e9 0%,#3fe7d9 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#2578e9),color-stop(100%,#3fe7d9));
    background: -webkit-linear-gradient(30deg,#2578e9 0%,#3fe7d9 100%);
    background: -o-linear-gradient(30deg,#2578e9 0%,#3fe7d9 100%);
    background: -ms-linear-gradient(30deg,#2578e9 0%,#3fe7d9 100%);
    background: linear-gradient(30deg,#2578e9 0%,#3fe7d9 100%);

    border-color: lightblue;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary.hover {
    /*background-color: #343672;*/
    background: #2270d6; /* Old browsers */
    background: -moz-linear-gradient(top,  #2270d6 0%, #40a6e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2270d6), color-stop(100%,#40a6e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2270d6 0%,#40a6e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2270d6 0%,#40a6e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2270d6 0%,#40a6e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2270d6 0%,#40a6e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2270d6', endColorstr='#40a6e5',GradientType=0 ); /* IE6-9 */
}

.btn.btn-warning {
    background: #f39c12;
    background: -moz-linear-gradient(left, #f39c12 0%, #efc283 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f39c12), color-stop(100%,#efc283));
    background: -webkit-linear-gradient(left, #f39c12 0%,#efc283 100%);
    background: -o-linear-gradient(left, #f39c12 0%,#efc283 100%);
    background: -ms-linear-gradient(left, #f39c12 0%,#efc283 100%);
    background: linear-gradient(to right, #f39c12 0%,#efc283 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f39c12', endColorstr='#efc283',GradientType=1 );
    border-color: lightyellow;
}

.btn.btn-warning:hover, .btn.btn-warning:active, .btn.btn-warning.hover {
    background: #f39c12; /* Old browsers */
    background: -moz-linear-gradient(top,  #f39c12 0%, #efc283 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f39c12), color-stop(100%,#efc283)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f39c12 0%,#efc283 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f39c12 0%,#efc283 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f39c12 0%,#efc283 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f39c12 0%,#efc283 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f39c12', endColorstr='#efc283',GradientType=0 ); /* IE6-9 */

}

.btn.btn-danger {
    background: #f45944; /* Old browsers */
    background: -moz-linear-gradient(left,  #f45944 0%, #f49184 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f45944), color-stop(100%,#f49184)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #f45944 0%,#f49184 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #f45944 0%,#f49184 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #f45944 0%,#f49184 100%); /* IE10+ */
    background: linear-gradient(to right,  #f45944 0%,#f49184 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f45944', endColorstr='#f49184',GradientType=1 ); /* IE6-9 */

    border-color: lightpink;
}

.btn.btn-danger:hover, .btn.btn-danger:active, .btn.btn-danger.hover {
    background: #f45944; /* Old browsers */
    background: -moz-linear-gradient(top,  #f45944 0%, #f49184 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f45944), color-stop(100%,#f49184)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f45944 0%,#f49184 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f45944 0%,#f49184 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f45944 0%,#f49184 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f45944 0%,#f49184 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f45944', endColorstr='#f49184',GradientType=0 ); /* IE6-9 */

}

.btn.btn-success {
    background: #00a65a; /* Old browsers */
    background: -moz-linear-gradient(left,  #00a65a 0%, #5bcc97 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00a65a), color-stop(100%,#5bcc97)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #00a65a 0%,#5bcc97 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #00a65a 0%,#5bcc97 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #00a65a 0%,#5bcc97 100%); /* IE10+ */
    background: linear-gradient(to right,  #00a65a 0%,#5bcc97 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a65a', endColorstr='#5bcc97',GradientType=1 ); /* IE6-9 */

    border-color: lightcyan;
}

.btn.btn-success:hover, .btn.btn-success:active, .btn.btn-success.hover {
    background: #00a65a; /* Old browsers */
    background: -moz-linear-gradient(top,  #00a65a 0%, #5bcc97 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a65a), color-stop(100%,#5bcc97)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00a65a 0%,#5bcc97 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00a65a 0%,#5bcc97 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00a65a 0%,#5bcc97 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00a65a 0%,#5bcc97 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a65a', endColorstr='#5bcc97',GradientType=0 ); /* IE6-9 */

}

.navbar-inverse {
     background: #436EB3; /* Old browsers */
    background: -moz-linear-gradient(top,  #436EB3 0%, #5582ca 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#436EB3), color-stop(100%,#5582ca)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #436EB3 0%,#5582ca 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #436EB3 0%,#5582ca 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #436EB3 0%,#5582ca 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #436EB3 0%,#5582ca 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#436EB3', endColorstr='#5582ca',GradientType=0 ); /* IE6-9 */

    border-color: #5582ca;
}