.productbox {
    background-color:#ffffff;
	padding:10px;
	margin-bottom:10px;
	-webkit-box-shadow: 0 8px 6px -6px  #999;
	   -moz-box-shadow: 0 8px 6px -6px  #999;
	        box-shadow: 0 8px 6px -6px #999;
}
.productimg {
	height: 200px;
    overflow: hidden
}
.producttitle {
    font-weight:bold;
	padding:10px 0 10px 0;
	height:75px;
	text-transform: capitalize;
}

.productprice {
	border-top:1px solid #dadada;
	padding-top:5px;
}

.pricetext {
	font-weight:bold;
	font-size:1em;
}